openapi: 3.0.3
info:
  title: Quipt - OpenAPI 3.0
  description: >-
    View the [wiki](https://getquipt.github.io) for more details.
  version: 2.0.0
servers:
  - url: https://api.getquipt.com/v2
tags:
  - name: Vendor API - Inventory
    description: >- 
      Perform vendor workflows. 
      The inventory services below provide the ability to manage inventory listings within Quipt. 
      The provided services can be used manage everything from quantity synchronization to creating, publishing, and listing the inventory on partner sites. 
    externalDocs:
      description: Find out more about a vendor inventory integration.
      url: https://getquipt.github.io/vendor-api.html#inventory
  - name: Vendor API - Orders
    description: >-
      The order services provide the ability to manage orders expected to be fulfilled by Quipt vendors. 
      The provided services may be used to download, acknowledge, ship, invoice, and cancel orders.
    externalDocs:
      description: Find out more about a vendor order integration.
      url: https://getquipt.github.io/vendor-api.html#orders  
  - name: Vendor API - Shipments
    description: >-
      The shipment services provide a mechanism to manage shipments if your company is using ‘Ship via Quipt’.
      The primary purpose is to download the necessary packing and shipment documents. 
    externalDocs:
      description: Find out more about a vendor shipment integration.
      url: https://getquipt.github.io/vendor-api.html#shipments
  - name: Vendor API - Requests
    description: >-
      The request services below provide the ability to manage requests expected to be completed by Quipt vendors. 
      The provided services can be used to download, acknowledge, and close requests. 
    externalDocs:
      description: Find out more about a vendor request integration.
      url: https://getquipt.github.io/vendor-api.html#requests  
  - name: Channel API - Virtual Inventory
    description: >-
      The inventory services below provide the ability to manage virtual inventory listings within Quipt.
    externalDocs:
      description: Find out more about a channel integration.
      url: https://getquipt.github.io/channel-api.html#inventory
  - name: Channel API - Orders
    description: >-
      The order services provide the ability to manage orders expected to be fulfilled by Quipt vendors. 
      The provided services may be used to download, acknowledge, ship, invoice, and cancel orders. 
    externalDocs:
      description: Find out more about a channel integration.
      url: https://getquipt.github.io/channel-api.html#orders
  - name: Channel API - Requests
    description: >-
      The request services below provide the ability to manage requests expected to be completed by Quipt vendors. 
      The provided services can be used to download, acknowledge, and close requests.
    externalDocs:
      description: Find out more about a channel integration.
      url: https://getquipt.github.io/channel-api.html#requests     
  - name: Catalog API
    description: Search product catalog.
  - name: Notification API
    description: >-
      Within Quipt users may subscribe to a defined set of events that occur throughout the application. 
      When an event is fired a notification is sent to the user. 
      The following API endpoints allow the user to access the notifications generated. 
      Currently the endpoints only allows the user to monitor for new messages and archive those that are no longer needed.

      Sample use cases.

      - Tracking movement through any work flow, ie Orders.

      - Monitor for changes, including price and quantity.
  - name: Carrier API
    description: >-
      Navigate the available carriers and related methods they support. **No authorization required for the endpoints listed below.**
    externalDocs:
      description: View sheet with all carriers and methods.
      url: https://docs.google.com/spreadsheets/d/1qqNOVK_8K12AGUfIlGtWngTC6atZ46UYuurWLPxplpQ
  - name: Taxonomy API
    description: >-
      Navigate our taxonomy. **No authorization required for the endpoints listed below.**
      Categories are arranged in a tree structure, where:<br/>
      - Each category has a unique id.<br/>
      - A category can have multiple child categories.<br/>
      - A category must have IsLeaf: true to have a product assigned to it.
      - Any category may have Attributes associated, but refer to categories with IsLeaf: true to see those required for a category.
    externalDocs:
      description: View taxonomy.
      url: https://getquipt.github.io/taxonomy.html  
paths:
  /inventory/physical:
    post:
      tags:
        - Vendor API - Inventory
      summary: Add or update items.
      description: Add or update items.
      operationId: addUpdateInventoryItems
      requestBody:
        description: >-
          Create and update inventory items. This action may be applied to both
          complete and incomplete inventory items. At a minimum the SKU is
          required, likewise include as many properties as possible via API, the
          rest may be completed within the Quipt web application.
          
          The result of this call creates a job that is processed asynchronously. Retain the ReportId and use getAddUpdateInventoryItemsReport to monitor the job's progress.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostYourInventoryReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostYourInventoryResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:inventory
  /inventory/physical/report/{reportId}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Inventory
      summary: Get job report details by ReportId.  
      description: This service allows a partner to retrieve the detailed report generated when the ‘Create/Update Inventory’ service is used. The result of ‘Create/Update Inventory’ returns the {id} used to retrieve the report from this service.
      operationId: getAddUpdateInventoryItemsReport
      parameters:
        - name: reportId
          in: path
          description: The ReportId provided by the addUpdateInventoryItems response.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: includeLines
          in: query
          description: Whether or not to include line details with report.
          required: false
          schema:
            type: boolean    
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPostYourInventoryReportResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:inventory  
  /inventory/physical/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Inventory
      summary: Get physical inventory items.
      description: >-
        Get a paged list of inventory items based on search parameters. 
        The service returns all inventory records created within Quipt. This includes both complete and incomplete inventory items.
      operationId: getPhysicalInventory
      parameters:
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: skus
          in: query
          description: Comma separated list of SKUs to lookup.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: ids
          in: query
          description: Comma separated list of ids to lookup.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Catalog
                - Feeds
                - Comments
                - History
                - Report
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetYourInventoryResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:inventory
  /inventory/physical/id/{id}:
    get:
      tags:
        - Vendor API - Inventory
      summary: Get physical inventory item by id.
      description: Retrieve a specific physical inventory item by the Quipt identifier.
      operationId: getPhysicalInventoryById
      parameters:
        - name: id
          in: path
          description: The id to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Catalog
                - Feeds
                - Comments
                - History
                - Report
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryResult'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:inventory
  /inventory/GroupAndEnrich:
    post:
      tags:
        - Vendor API - Inventory
      summary: Group and enrich inventory items.
      description: >-
          The endpoint accepts an uploaded inventory file, aggregated by category, along with a selected template by name. The service parses the file, groups related inventory lines according to the template configuration, and enriches the data using Quipt’s catalog, partner pricing data, and the partne's existing inventory records.
          The result is a normalized dataset containing matched Quipt SKUs, grouped inventory units, partner pricing insights, and an estimated recovery value based on Quipt’s pricing model.  
      operationId: InventoryGroupAndEnrich
      requestBody:
        description: Data to upload and template name to use for grouping and enriching the inventory data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCompactCatalogGroupAndEnrichReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCompactCatalogGroupAndEnrichResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:inventory
  /inventory/GroupAndEnrich/report/{reportId}:
    get:
      tags:
        - Vendor API - Inventory
      summary: Get group and enrich job report details by ReportId.  
      description: This service allows a partner to retrieve the detailed report generated when the ‘Group and Enrich Inventory’ service is used. The result of ‘Group and Enrich Inventory’ returns the {reportId} used to retrieve the report from this service.
      operationId: getGroupAndEnrichInventoryReport
      parameters:
        - name: reportId
          in: path
          description: The ReportId provided by the groupAndEnrichInventory response.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation. Expect response Paging = null. No paging is used for this endpoint as the full results are returned in a single document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompactCatalogGroupAndEnrichImportReportResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:inventory  
  /orders/fulfillment/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Orders
      summary: Get orders.
      description: Retrieve a paged list of orders placed by a channel.
      operationId: getFulfillmentOrders
      parameters:
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32  
        - name: orderStatus
          in: query
          description: >- 
            A comma separated list of statuses.<br/>
            2 = Pending<br/>
            4 = Open<br/>
            8 = Shipped<br/>
            16 = Canceled
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices
                - Shipments
                - Cancellations
                - PackingSlips
                - ShipByTruckRequests
                - Payments
                - Fulfillments
                - Acknowledgements
                - SubstitutionFor
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/GetPurchaseOrderResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/fulfillment/id/{id}:
    get:
      tags:
        - Vendor API - Orders
      summary: Get order by id.
      description: Retrieve an order by the Quipt identifier.
      operationId: getFulfillmentOrdersById
      parameters:
        - name: id
          in: path
          description: The id to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices
                - Shipments
                - Cancellations
                - PackingSlips
                - ShipByTruckRequests
                - Payments
                - Fulfillments
                - Acknowledgements
                - SubstitutionFor
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/PurchaseOrderResult'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/fulfillment/po/{channelIdOrCode}/{poNumber}:
    get:
      tags:
        - Vendor API - Orders
      summary: Get order by purchase order number.
      description: Retrieve an order by the channel’s original order number.
      operationId: getFulfillmentOrdersByPO
      parameters:
        - name: channelIdOrCode
          in: path
          description: The id or partner reference to lookup.
          required: true
          schema:
            type: string
        - name: poNumber
          in: path
          description: The purchase order number to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices
                - Shipments
                - Cancellations
                - PackingSlips
                - ShipByTruckRequests
                - Payments
                - Fulfillments
                - Acknowledgements
                - SubstitutionFor
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrderResult'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/fulfillment/channel/{channelIdOrCode}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Orders
      summary: Get orders by channel.
      description: Retrieve a paged list of orders received by a specific channel.
      operationId: getFulfillmentOrdersByChannel
      parameters:
        - name: channelIdOrCode
          in: path
          description: The id or partner reference to lookup.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32  
        - name: orderStatus
          in: query
          description: >- 
            A comma separated list of statuses.<br/>
            2 = Pending<br/>
            4 = Open<br/>
            8 = Shipped<br/>
            16 = Canceled
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices
                - Shipments
                - Cancellations
                - PackingSlips
                - ShipByTruckRequests
                - Payments
                - Fulfillments
                - Acknowledgements
                - SubstitutionFor
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetPurchaseOrderResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/fulfillment/acknowledge:
    post:
      tags:
        - Vendor API - Orders
      summary: Acknowledge orders.
      description: >-
         Acknowledge an order. Use service provides the mechanisms to either accept and reject an order.
      operationId: ackFulfillmentOrders
      requestBody:
        description: >-
          Accept or reject order items to let vendor know what you are doing with the order.
          
          The result of this call creates a job that is processed asynchronously. Retain the ReportId and use getUpdateVirtualInventoryItemsReport to monitor the job's progress.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPurchaseOrderAcknowledgementReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPurchaseOrderAcknowledgementResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:orders
  /orders/fulfillment/ship:
    post:
      tags:
        - Vendor API - Orders
      summary: Ship orders.
      description: >-
         Apply shipment details to an order. Invoice details can be set as well.
      operationId: shipFulfillmentOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPurchaseOrderShipmentReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPurchaseOrderShipmentResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:orders   
  /orders/fulfillment/invoice:
    post:
      tags:
        - Vendor API - Orders
      summary: Invoice orders.
      description: >-
          Invoice shipped orders. 
          Invoicing an order is required, but it is not required to be completed using this service. 
          If this flow cannot be supported, turn 'On' auto invoicing within company settings.
      operationId: invoiceFulfillmentOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPurchaseOrderInvoiceReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPurchaseOrderInvoiceResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:orders
  /orders/fulfillment/archive:
    post:
      tags:
        - Vendor API - Orders
      summary: Archive orders.
      description: >-
        The primary purpose of archiving an order is to remove it from the lists that are obtained using ‘Get Orders’ and ‘Get Orders By Channel’.
        This mechanism is not required, and will be automatically applied after 30 days.
      operationId: archiveFulfillmentOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPurchaseOrderFulfillmentArchiveReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPurchaseOrderFulfillmentArchiveResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:orders     
  /orders/fulfillment/report/{reportId}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Orders
      summary: Get job report details by ReportId.  
      description: >-
        This service allows a partner to retrieve the detailed report generated when any of the action services are used. 
        The result of ‘Acknowledge Order’, ‘Ship Order’, ‘Invoice Order’, and ‘Archive Order’ returns the {id} used to retrieve the report from this service.
      operationId: getUpdateFulfillmentOrdersReport
      parameters:
        - name: reportId
          in: path
          description: The ReportId provided by the addUpdateInventoryItems response.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: includeLines
          in: query
          description: Whether or not to include line details with report.
          required: false
          schema:
            type: boolean    
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPurchaseOrderReportResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders  
  /orders/shipment/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Shipments
      summary: Get shipments.
      description: Retrieve a paged list of shipment records.
      operationId: getFulfillmentShipments
      parameters:
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32  
        - name: statuses
          in: query
          description: >- 
            A comma separated list of statuses.<br/>
            2 = Pending<br/>
            32 = New<br/>
            128 = Ready<br/> 
            512 = Generating<br/>
            1024 = Generated<br/> 
            4096 = Exported<br/>
            16384 = Printed<br/>
            131072 = Pickup Requested<br/>
            524288 = Picked Up<br/>
            2097152 = Error<br/>
            8388608 = Canceled
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: orderIds
          in: query
          description: >- 
            A comma separated list of order ids.
          required: false
          schema:
            type: array
            items:
              type: string  
        - name: warehouseIds
          in: query
          description: >- 
            A comma separated list of warehouse ids.
          required: false
          schema:
            type: array
            items:
              type: string      
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices 
                - PackingSlips
                - ShipByTruckRequests
                - Labels
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetShipmentResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:shipments
  /orders/shipment/id/{id}:
    get:
      tags:
        - Vendor API - Shipments
      summary: Get shipment by id.
      description: Get shipment by id.
      operationId: getFulfillmentShipmentsById
      parameters:
        - name: id
          in: path
          description: The id to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices 
                - PackingSlips
                - ShipByTruckRequests
                - Labels
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentResult'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/shipment/acknowledge:
    post:
      tags:
        - Vendor API - Shipments
      summary: Acknowledge shipments.
      description: >-
          This services allows a partner to acknowledge the receipt of a shipment.
      operationId: ackFulfillmentShipments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostShipmentAcknowledgementReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostShipmentAcknowledgementResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:shipments
  /orders/shipment/report/{reportId}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Shipments
      summary: Get job report details by ReportId.  
      description: >-
        This service allows a partner to retrieve the detailed report generated when any of the action services are used. 
        The result of ‘Acknowledge Shipment’ returns the {id} used to retrieve the report from this service.
      operationId: getUpdateFulfillmentShipmentsReport
      parameters:
        - name: reportId
          in: path
          description: The ReportId provided by action response.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: includeLines
          in: query
          description: Whether or not to include line details with report.
          required: false
          schema:
            type: boolean    
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPostShipmentReportResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:shipments
  /requests/fulfillment/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Requests
      summary: Get requests.
      description: Retrieve a paged list of request records a partner has currently listed within Quipt.
      operationId: getFulfillmentRequests
      parameters:
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32  
        - name: requestStatus
          in: query
          description: >- 
            A comma separated list of statuses.
            2 = Pending, 
            4 = Open, 
            8 = Closed, 
            16 = Canceled
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Group
                - Lines.FillLine
                - Lines.Tracking
                - Lines.OrderLine
                - Lines.OrderLine.Fulfillments
                - Lines.OrderLine.Acknowledgements
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetRequestResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:requests
  /requests/fulfillment/{channelIdOrCode}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Requests
      summary: Get requests by channel.
      description: Retrieve a paged list of request records for a specific channel.
      operationId: getFulfillmentRequestsByChannel
      parameters:
        - name: channelIdOrCode
          in: path
          description: The id or partner reference to lookup.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32  
        - name: requestStatus
          in: query
          description: >- 
            A comma separated list of statuses.<br/>
            2 = Pending<br/>
            4 = Open<br/>
            8 = Closed<br/>
            16 = Canceled
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Group
                - Lines.FillLine
                - Lines.Tracking
                - Lines.OrderLine
                - Lines.OrderLine.Fulfillments
                - Lines.OrderLine.Acknowledgements
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetRequestResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:requests
  /requests/fulfillment/id/{id}:
    get:
      tags:
        - Vendor API - Requests
      summary: Get request by id.
      description: Retrieve a request record by its unique identifier.
      operationId: getFulfillmentRequestsById
      parameters:
        - name: id
          in: path
          description: The id to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Group
                - Lines.FillLine
                - Lines.Tracking
                - Lines.OrderLine
                - Lines.OrderLine.Fulfillments
                - Lines.OrderLine.Acknowledgements
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetRequestResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:requests
  /requests/fulfillment/acknowledge:
    post:
      tags:
        - Vendor API - Requests
      summary: Acknowledge requests.
      description: >-
         Acknowledge requests. It provides a mechanism to both accept and reject requests.
      operationId: ackFulfillmentRequests
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequestFulfillmentAcknowledgementReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRequestFulfillmentAcknowledgementResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/create:
    post:
      tags:
        - Vendor API - Requests
      summary: Create request.
      description: >-
        Create a new request for a closed order.
      operationId: addFulfillmentRequests
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequestFulfillmentReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRequestFulfillmentResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/returnupdate:
    post:
      tags:
        - Vendor API - Requests
      summary: Update return.
      description: >-
         Apply actions to return requests.
      operationId: updateFulfillmentRequestsReturn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequestReturnUpdateReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRequestReturnUpdateResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/missingaccessoryupdate:
    post:
      tags:
        - Vendor API - Requests
      summary: Missing Accessory Update.
      description: >-
          Apply actions to missing accessory requests.
      operationId: updateFulfillmentRequestsMissingAccessory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequestMissingAccessoryUpdateReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRequestMissingAccessoryUpdateResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/lostshipmentupdate:
    post:
      tags:
        - Vendor API - Requests
      summary: Lost Shipment Update.
      description: >-
          Apply actions to lost shipment requests.
      operationId: updateFulfillmentRequestsLostShipment
      requestBody:
        description: >-
          Update virtual inventory items to let vendor know what you are doing with the listing.
          
          The result of this call creates a job that is processed asynchronously. Retain the ReportId and use getUpdateVirtualInventoryItemsReport to monitor the job's progress.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequestLostShipmentUpdateReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRequestLostShipmentUpdateResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/interceptupdate:
    post:
      tags:
        - Vendor API - Requests
      summary: Intercept Update
      description: >-
          Apply an action to an intercept request.
      operationId: updateFulfillmentRequestsIntercept
      requestBody:
        description: >-
          Update virtual inventory items to let vendor know what you are doing with the listing.
          
          The result of this call creates a job that is processed asynchronously. Retain the ReportId and use getUpdateVirtualInventoryItemsReport to monitor the job's progress.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequestInterceptUpdateReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRequestInterceptUpdateResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/creditupdate:
    post:
      tags:
        - Vendor API - Requests
      summary: Credit Update.
      description: >-
          Apply an action to a credit request.
      operationId: updateFulfillmentRequestsCredit
      requestBody:
        description: >-
          Update virtual inventory items to let vendor know what you are doing with the listing.
          
          The result of this call creates a job that is processed asynchronously. Retain the ReportId and use getUpdateVirtualInventoryItemsReport to monitor the job's progress.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequestPartialCreditUpdateReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRequestPartialCreditUpdateResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/cancel:
    post:
      tags:
        - Vendor API - Requests
      summary: Cancel Request.
      description: >-
          Request a cancellation of a fulfillment request.
      operationId: cancelFulfillmentRequests
      requestBody:
        description: >-
          Update virtual inventory items to let vendor know what you are doing with the listing.
          
          The result of this call creates a job that is processed asynchronously. Retain the ReportId and use getUpdateVirtualInventoryItemsReport to monitor the job's progress.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequestCancelReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRequestCancelResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/archive:
    post:
      tags:
        - Vendor API - Requests
      summary: Archive Request.
      description: >-
        Archive requests. 
        The primary purpose of archiving a request is to remove it from the lists that are obtained using ‘Get Requests’ and ‘Get Requests By Channel’. 
        This mechanism is not required, and will be automatically applied after 30 days.
      operationId: archiveFulfillmentRequests
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequestFulfillmentArchiveReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRequestFulfillmentArchiveResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/report/{reportId}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Requests
      summary: Get job report details by ReportId.  
      description: >-
       This service allows a partner to retrieve the detailed report generated when any of the action services are used. 
       The result of ‘Acknowledge’, ‘Cancel’, ‘Create’, ‘Return Update’, ‘Lost Shipment Update’, ‘Intecept Update’, ‘Missing Accessory Update’, ‘Credit Update’ and ‘Archive’ returns the {id} used to retrieve the report from this service.
      operationId: getUpdateFulfillmentRequestsReport
      parameters:
        - name: reportId
          in: path
          description: The ReportId provided by the action response.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: includeLines
          in: query
          description: Whether or not to include line details with report.
          required: false
          schema:
            type: boolean    
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRequestReportResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:shipments
  /inventory/virtual/acknowledge:
    post:
      tags:
        - Channel API - Virtual Inventory
      summary: Update virtual items.
      description: >-
          Let the vendor know you have listed or have an issue with the item they are selling.<br/>
          If listed forsale send the following properties within the request. 
            - ARP: { Optional, Current sale price. }<br/> 
            - CatalogStatus: 40<br/>
            - MapId: { Optional, Your internal identifier. }<br/>
            - MapURL: { Optional, The link to the item on your site. }<br/>
            
          If there is an issue send the following properties within the request.
             - CatalogStatus: 30<br/>
             - Messages: { The reason the item is not listed. }<br/>
      operationId: updateVirtualInventoryItems
      requestBody:
        description: >-
          Update virtual inventory items to let vendor know what you are doing with the listing.
          
          The result of this call creates a job that is processed asynchronously. Retain the ReportId and use getUpdateVirtualInventoryItemsReport to monitor the job's progress.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostVirtualInventoryAcknowledgementReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostVirtualInventoryAcknowledgementResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:feeds
  /inventory/virtual/report/{reportId}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Channel API - Virtual Inventory
      summary: Get job report details by ReportId.  
      description: Get job report details by ReportId.
      operationId: getUpdateVirtualInventoryItemsReport
      parameters:
        - name: reportId
          in: path
          description: The ReportId provided by the action service response.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: includeLines
          in: query
          description: Whether or not to include line details with report.
          required: false
          schema:
            type: boolean    
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVirtualInventoryReportResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:feeds 
  /inventory/virtual/{vendorId}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Channel API - Virtual Inventory
      summary: Get virtual inventory items.
      description:  Retrieve a paged list of virtual inventory items currently listed by a specific vendor.
      operationId: getVirtualInventory
      parameters:
        - name: vendorId
          in: path
          description: The vendor to lookup. Can be the partner reference or the internal id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: catalogStatus
          in: query
          description: >- 
            A comma separated list of statuses.<br/>
            0 = New<br/>
            10 = Received<br/>
            20 = Accepted<br/>
            30 = Rejected<br/>
            40 = Published
          required: false
          schema:
            type: array
            items:
              type: string
        - name: inventoryStatus
          in: query
          description: >-
            A comma separated list of statuses.<br/>
            0 = New<br/>
            10 = Received<br/>
            20 = Accepted<br/>
            30 = Rejected; Does not exist<br/>
            31 = Rejected; Unauthorized<br/>
            32 = Rejected; already mapped<br/>
            33 = Rejected Unknown<br/>
          required: false
          schema:
            type: array
            items:
              type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null. 
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Catalog
                - Details
                - Freight
                - Properties
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetVirtualInventoryResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:feeds
  /inventory/virtual/id/{id}:
    get:
      tags:
        - Channel API - Virtual Inventory
      summary: Get virtual inventory item by id.
      description: Get virtual inventory item by id.
      operationId: getVirtualInventoryById
      parameters:
        - name: id
          in: path
          description: The id to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Catalog
                - Details
                - Freight
                - Properties
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryVirtualResult'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:feeds
  /orders/purchase/{pageSize}/{pageNumber}:
    get:
      tags:
        - Channel API - Orders
      summary: Get orders.
      description: Retrieve a paged list of orders placed by a channel.
      operationId: getPurchaseOrders
      parameters:
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32  
        - name: orderStatus
          in: query
          description: >- 
            A comma separated list of statuses.<br/>
            2 = Pending<br/>
            4 = Open<br/>
            8 = Shipped<br/>
            16 = Canceled
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices
                - Shipments
                - Cancellations
                - PackingSlips
                - ShipByTruckRequests
                - Payments
                - Fulfillments
                - Acknowledgements
                - SubstitutionFor
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetPurchaseOrderResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/purchase/id/{id}:
    get:
      tags:
        - Channel API - Orders
      summary: Get order by id.
      description: Retrieve an order by its unique identifier.
      operationId: getPurchaseOrdersById
      parameters:
        - name: id
          in: path
          description: The id to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices
                - Shipments
                - Cancellations
                - PackingSlips
                - ShipByTruckRequests
                - Payments
                - Fulfillments
                - Acknowledgements
                - SubstitutionFor
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PurchaseOrderResult'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/purchase/ordernumber/{poNumber}:
    get:
      tags:
        - Channel API - Orders
      summary: Get orders by purchase order number.
      description: Retrieve orders by the channel's original order number.
      operationId: getPurchaseOrdersByPO
      parameters:
        - name: poNumber
          in: path
          description: The purchase order number to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices
                - Shipments
                - Cancellations
                - PackingSlips
                - ShipByTruckRequests
                - Payments
                - Fulfillments
                - Acknowledgements
                - SubstitutionFor
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetPurchaseOrderResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/purchase/create:
    post:
      tags:
        - Channel API - Orders
      summary: Create orders.
      description: >-
         Create purchase orders.
      operationId: addPurchaseOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPurchaseOrderReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPurchaseOrderResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /orders/purchase/acknowledge:
    post:
      tags:
        - Channel API - Orders
      summary: Acknowledge orders.
      description: >-
        Post purchase order acknowledgements to let vendor know you have an issue with the order.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPurchaseOrderChannelAcknowledgementReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPurchaseOrderChannelAcknowledgementResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /orders/purchase/cancel:
    post:
      tags:
        - Channel API - Orders
      summary: Cancel orders.
      description: >-
          Post purchase order cancel request.
      operationId: cancelPurchaseOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPurchaseOrderCancelReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPurchaseOrderCancelResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /orders/purchase/archive:
    post:
      tags:
        - Channel API - Orders
      summary: Archive orders.
      description: >-
        This service allows a partner to archive orders. 
        The primary purpose of archiving orders is to remove them from the lists that are obtained using ‘Get Orders’. 
        This mechanism is not required, and will be automatically applied after 30 days.
      operationId: archivePurchaseOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPurchaseOrderArchiveReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPurchaseOrderArchiveResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /orders/purchase/report/{reportId}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Channel API - Orders
      summary: Get job report details by ReportId.  
      description: >-
        This service allows a partner to retrieve the detailed report generated when any of the action services are used. 
        The result of ‘Acknowledge Order’, ‘Ship Order’, ‘Invoice Order’, and ‘Archive Order’ returns the {id} used to retrieve the report from this service.
      operationId: getUpdatePurchaseOrdersReport
      parameters:
        - name: reportId
          in: path
          description: The ReportId provided by the action service response.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: includeLines
          in: query
          description: Whether or not to include line details with report.
          required: false
          schema:
            type: boolean    
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPurchaseOrderReportResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:shipments
  /requests/purchase/{pageSize}/{pageNumber}:
    get:
      tags:
        - Channel API - Requests
      summary: Get requests.
      description: Retrieve a paged list of request records a partner has currently listed within Quipt..
      operationId: getPurchaseRequests
      parameters:
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32  
        - name: requestStatus
          in: query
          description: >- 
            A comma separated list of statuses.<br/>
            2 = Pending<br/>
            4 = Open<br/>
            8 = Closed<br/>
            16 = Canceled
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: vendorId
          in: query
          description: >- 
          required: false
          schema:
            type: string          
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Group
                - Lines.FillLine
                - Lines.Tracking
                - Lines.OrderLine
                - Lines.OrderLine.Fulfillments
                - Lines.OrderLine.Acknowledgements
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetRequestResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:requests
  /requests/purchase/ordernumber/{poNumber}:
    get:
      tags:
        - Channel API - Requests
      summary: Get requests by purchase order number.
      description: Retrieve a list of request records by purchase order number.
      operationId: getPurchaseRequestsByPO
      parameters:
        - name: poNumber
          in: path
          description: The id or partner reference to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Group
                - Lines.FillLine
                - Lines.Tracking
                - Lines.OrderLine
                - Lines.OrderLine.Fulfillments
                - Lines.OrderLine.Acknowledgements
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetRequestResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:requests
  /requests/purchase/referencenumber/{refNumber}:
    get:
      tags:
        - Channel API - Requests
      summary: Get request by reference number.
      description: Retrieve a request record by reference number.
      operationId: getPurchaseRequestByRefNumber
      parameters:
        - name: refNumber
          in: path
          description: Reference number to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Group
                - Lines.FillLine
                - Lines.Tracking
                - Lines.OrderLine
                - Lines.OrderLine.Fulfillments
                - Lines.OrderLine.Acknowledgements
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RequestResult'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:requests
  /requests/purchase/id/{id}:
    get:
      tags:
        - Channel API - Requests
      summary: Get request by id.
      description: Retrieve a request record by id.
      operationId: getPurchaseRequestById
      parameters:
        - name: id
          in: path
          description: The id to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Group
                - Lines.FillLine
                - Lines.Tracking
                - Lines.OrderLine
                - Lines.OrderLine.Fulfillments
                - Lines.OrderLine.Acknowledgements
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RequestResult'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:requests
  /requests/purchase/acknowledge:
    post:
      tags:
        - Channel API - Requests
      summary: Acknowledge requests.
      description: >-
          Let the vendor know you have an issue with the request.
      operationId: ackPurchaseRequests
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequestAcknowledgementReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRequestAcknowledgementResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/purchase/create:
    post:
      tags:
        - Channel API - Requests
      summary: Create requests.
      description: >-
          Create a new request for a closed order.
      operationId: addPurchaseRequests
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequestReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRequestResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/purchase/cancel:
    post:
      tags:
        - Channel API - Requests
      summary: Cancel purchase requests.
      description: >-
         Request a cancellation of a purchase request.
      operationId: cancelPurchaseRequests
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequestCancelReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRequestCancelResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/purchase/archive:
    post:
      tags:
        - Channel API - Requests
      summary: Archive purchase requests.
      description: >-
          Archive requests. 
          The primary purpose of archiving an request is to remove it from the lists that are obtained using ‘Get Requests’. 
          This mechanism is not required, and will be automatically applied after 30 days.
      operationId: archivePurchaseRequests
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequestArchiveReq'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRequestArchiveResults'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/purchase/report/{reportId}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Channel API - Requests
      summary: Get job report details by ReportId.  
      description: >-
       Retrieve the detailed report generated when any of the action services are used. 
       The result of ‘Acknowledge’, ‘Cancel’, ‘Create’, ‘Return Update’, ‘Lost Shipment Update’, ‘Intercept Update’, ‘Missing Accessory Update’, ‘Credit Update’ and ‘Archive’ returns the {id} used to retrieve the report from this service.
      operationId: getUpdatePurchaseRequestsReport
      parameters:
        - name: reportId
          in: path
          description: The ReportId provided by the service response.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: includeLines
          in: query
          description: Whether or not to include line details with report.
          required: false
          schema:
            type: boolean    
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRequestReportResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:requests
  /notifications/{pageSize}/{pageNumber}:
    get:
      tags:
        - Notification API
      summary: Get notifications. 
      description: >-
        This endpoint allows the user to monitor messages sent to their account. 
        Each of the specified types can be used to determine what additional API call can be utilized to get more details for a specific notification.
      operationId: getNotifications
      parameters:
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32  
        - name: statuses
          in: query
          description: >- 
            A comma separated list of statuses.<br/>
            1 = Unread<br/>
            2 = Read<br/>
            4 = Archived
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: types
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Batch
                - Blog
                - Report
                - PurchaseOrder
                - SalesOrder
                - Virtual Inventory
                - PhysicalInventory
                - Feeds 
                - ChannelRequest
                - VendorRequest
      responses:
        '200':
          description: |
            Successful operation. 
            The API provides a mechanism to get more details of each referenced Type. 
            Using the links below locate the referenced Type and use response RecordId as request id for appropriate call.

            <b>Type/Endpoint Reference</b>

            * [PurchaseOrder](#operations-Channel_API_-_Orders-getPurchaseOrdersById)

            * [SalesOrder](#operations-Vendor_API_-_Orders-getFulfillmentOrdersById)
            
            * [VirtualInventory](#operations-Channel_API_-_Virtual_Inventory-getVirtualInventoryById)
            
            * [PhysicalInventory](#operations-Vendor_API_-_Inventory-getPhysicalInventoryById)
            
            * Feeds - No service available currently.
            
            * [ChannelRequest](#operations-Channel_API_-_Requests-getPurchaseRequestById)
            
            * [VendorRequest](#operations-Vendor_API_-_Requests-getFulfillmentRequestsById)

            <b>BatchType/Endpoint Reference</b>
            
            * Report - No service available currently.
            
            * [PurchaseOrder](#operations-Channel_API_-_Orders-getUpdatePurchaseOrdersReport)
            
            * [SalesOrder](#operations-Vendor_API_-_Orders-getUpdateFulfillmentOrdersReport)
            
            * [VirtualInventory](#operations-Channel_API_-_Virtual_Inventory-getUpdateVirtualInventoryItemsReport)
            
            * [PhysicalInventory](#operations-Vendor_API_-_Inventory-getAddUpdateInventoryItemsReport)
            
            * Feeds - No service available currently.
            
            * [ChannelRequest](#operations-Channel_API_-_Requests-getUpdatePurchaseRequestsReport)
            
            * [VendorRequest](#operations-Vendor_API_-_Requests-getUpdateFulfillmentRequestsReport)

            Below is a list of currently available events for capture.

            | Type              | Event Code | Event Name                                          |
            |-------------------|------------|-----------------------------------------------------|
            | Batch             | 10         | Status Changed                                      |
            | Batch             | 11         | Completed                                           |
            | Batch             | 12         | Failed                                              |
            | Report            | 110        | Created                                             |
            | Report            | 111        | Status Change                                       |
            | Report            | 112        | Removed                                             |
            | Report            | 113        | Shared                                              |
            | Report            | 114        | Report Queued                                       |
            | Report            | 115        | Queued Report Status Change                         |
            | Report            | 116        | Report Generated                                    |
            | Report            | 117        | Report Downloaded                                   |
            | Blog              | 170        | Created                                             |
            | Blog              | 171        | General Message Created                             |
            | Blog              | 172        | Application Update Message Created                  |
            | Blog              | 173        | Scheduled Downtime Message Created                  |
            | Blog              | 174        | Unscheduled Downtime Message Created                |
            | PhysicalInventory | 22         | Cost Change                                         |
            | PhysicalInventory | 23         | Discontinued                                        |
            | PhysicalInventory | 24         | Published                                           |
            | PhysicalInventory | 25         | Out Of Stock                                        |
            | PhysicalInventory | 26         | Add Stock                                           |
            | PhysicalInventory | 27         | Quantity Change                                     |
            | PhysicalInventory | 28         | Quantity Allocated Change                           |
            | PhysicalInventory | 29         | Outsourced                                          |
            | PhysicalInventory | 30         | Status Change                                       |
            | VirtualInventory  | 40         | Activation Change                                   |
            | VirtualInventory  | 41         | Allocation Change                                   |
            | VirtualInventory  | 42         | Promotion Initialized                               |
            | VirtualInventory  | 43         | Promotion Removed                                   |
            | VirtualInventory  | 44         | Price Change                                        |
            | VirtualInventory  | 45         | Catalog Status Change                               |
            | VirtualInventory  | 46         | Inventory Status Change                             |
            | VirtualInventory  | 47         | ARP Change                                          |
            | VirtualInventory  | 48         | Promotion Change                                    |
            | VirtualInventory  | 25         | Out Of Stock -NEED IMPL                             |
            | VirtualInventory  | 26         | Add Stock -NEED IMPL                                |
            | VirtualInventory  | 27         | Quantity Change -NEED IMPL                          |
            | VirtualInventory  | 24         | Published -NEED IMPL                                |
            | Feeds             | 40         | Activation Change                                   |
            | Feeds             | 41         | Allocation Change                                   |
            | Feeds             | 42         | Promotion Initialized                               |
            | Feeds             | 43         | Promotion Removed                                   |
            | Feeds             | 44         | Price Change                                        |
            | Feeds             | 45         | Catalog Status Change                               |
            | Feeds             | 46         | Inventory Status Change                             |
            | Feeds             | 47         | ARP Change                                          |
            | Feeds             | 48         | Promo Change                                        |
            | PurchaseOrder     | 50         | Status Change                                       |
            | PurchaseOrder     | 51         | Placed                                              |
            | PurchaseOrder     | 52         | Canceled                                            |
            | PurchaseOrder     | 53         | Price Change                                        |
            | PurchaseOrder     | 54         | Quantity Ordered Change                             |
            | PurchaseOrder     | 55         | Quantity Back Ordered                               |
            | PurchaseOrder     | 56         | Quantity Canceled                                   |
            | PurchaseOrder     | 57         | Ship To Change                                      |
            | PurchaseOrder     | 58         | Shipped                                             |
            | PurchaseOrder     | 59         | Action Required                                     |
            | PurchaseOrder     | 330        | Action Required – Invalid SKU                       |
            | PurchaseOrder     | 331        | Action Required – Duplicate Order Detected          |
            | PurchaseOrder     | 332        | Action Required – Out of Stock                      |
            | PurchaseOrder     | 333        | Action Required – Invalid Pricing                   |
            | PurchaseOrder     | 334        | Action Required – Invalid Ship-To Address           |
            | PurchaseOrder     | 335        | Action Required – Invalid Carrier Method Selected   |
            | PurchaseOrder     | 336        | Action Required – Execution of Custom Code Failed   |
            | PurchaseOrder     | 337        | Action Required – Invalid Payment                   |
            | PurchaseOrder     | 338        | Action Required – On Hold                           |
            | PurchaseOrder     | 339        | Action Required – Late Back Order                   |
            | PurchaseOrder     | 340        | Action Required – Late Shipment                     |
            | PurchaseOrder     | 341        | Action Required – Late Shipment Pickup              |
            | PurchaseOrder     | 342        | Action Required – Warehouse Cancellation            |
            | PurchaseOrder     | 343        | Action Required – Shipment Exception                |
            | PurchaseOrder     | 344        | Action Required – Payment Capture Failed            |
            | PurchaseOrder     | 345        | Action Required – Payment Refund Failed             |
            | PurchaseOrder     | 346        | Action Required – Invalid Tracking Number           |
            | PurchaseOrder     | 347        | Action Required – Cancellation Requested            |
            | SalesOrder        | 50         | Status Change                                       |
            | SalesOrder        | 51         | Placed                                              |
            | SalesOrder        | 52         | Canceled                                            |
            | SalesOrder        | 53         | Price Change                                        |
            | SalesOrder        | 54         | Quantity Ordered Change                             |
            | SalesOrder        | 55         | Quantity BackOrdered                                |
            | SalesOrder        | 56         | Quantity Canceled                                   |
            | SalesOrder        | 57         | Ship To Change                                      |
            | SalesOrder        | 58         | Shipped                                             |
            | SalesOrder        | 59         | Action Required                                     |
            | SalesOrder        | 330        | Action Required – Invalid SKU                       |
            | SalesOrder        | 331        | Action Required – Duplicate Order Detected          |
            | SalesOrder        | 332        | Action Required – Out of Stock                      |
            | SalesOrder        | 333        | Action Required – Invalid Pricing                   |
            | SalesOrder        | 334        | Action Required – Invalid Ship-To Address           |
            | SalesOrder        | 335        | Action Required – Invalid Carrier Method Selected   |
            | SalesOrder        | 336        | Action Required – Execution of Custom Code Failed   |
            | SalesOrder        | 337        | Action Required – Invalid Payment                   |
            | SalesOrder        | 338        | Action Required – On Hold                           |
            | SalesOrder        | 339        | Action Required – Late Back Order                   |
            | SalesOrder        | 340        | Action Required – Late Shipment                     |
            | SalesOrder        | 341        | Action Required – Late Shipment Pickup              |
            | SalesOrder        | 342        | Action Required – Warehouse Cancellation            |
            | SalesOrder        | 343        | Action Required – Shipment Exception                |
            | SalesOrder        | 344        | Action Required – Payment Capture Failed            |
            | SalesOrder        | 345        | Action Required – Payment Refund Failed             |
            | SalesOrder        | 346        | Action Required – Invalid Tracking Number           |
            | SalesOrder        | 347        | Action Required – Cancellation Requested            |
            | ChannelRequest    | 91         | Tracking Change                                     |
            | ChannelRequest    | 92         | Action Status Change                                |
            | ChannelRequest    | 94         | Comment Change                                      |
            | ChannelRequest    | 90         | Created                                             |
            | ChannelRequest    | 95         | Closed                                              |
            | ChannelRequest    | 96         | Canceled                                            |
            | ChannelRequest    | 97         | Action Required                                     |
            | ChannelRequest    | 93         | Status Change                                       |
            | ChannelRequest    | 200        | Intercept Attempt                                   |
            | ChannelRequest    | 201        | Intercept Failed                                    |
            | ChannelRequest    | 202        | Intercept In-Route                                  |
            | ChannelRequest    | 203        | Intercept Delivered                                 |
            | ChannelRequest    | 210        | Lost Shipment Trace Requested                       |
            | ChannelRequest    | 211        | Lost Shipment Trace Failed                          |
            | ChannelRequest    | 212        | Lost Shipment In-Route                              |
            | ChannelRequest    | 213        | Lost Shipment Delivered                             |
            | ChannelRequest    | 214        | Lost Shipment Claim Opened                          |
            | ChannelRequest    | 215        | Lost Shipment Claim Paid                            |
            | ChannelRequest    | 216        | Lost Shipment Claim Denied                          |
            | ChannelRequest    | 220        | Missing Accessory Credit Offered                    |
            | ChannelRequest    | 221        | Missing Accessory Credit Countered                  |
            | ChannelRequest    | 222        | Missing Accessory Return Created                    |
            | ChannelRequest    | 223        | Missing Accessory Label Requested                   |
            | ChannelRequest    | 225        | Missing Accessory Label Generated                   |
            | ChannelRequest    | 226        | Missing Accessory Label Generation Error            |
            | ChannelRequest    | 227        | Missing Accessory Credit Accepted                   |
            | ChannelRequest    | 228        | Missing Accessory Pickup Requested                  |
            | ChannelRequest    | 229        | Missing Accessory Shipped                           |
            | ChannelRequest    | 240        | Partial Credit Accepted                             |
            | ChannelRequest    | 241        | Partial Credit Counter                              |
            | ChannelRequest    | 242        | Partial Credit Impasse                              |
            | ChannelRequest    | 250        | Return Credited                                     |
            | ChannelRequest    | 251        | Return Credit Offered                               |
            | ChannelRequest    | 252        | Return Exchanged                                    |
            | ChannelRequest    | 253        | Return Received                                     |
            | ChannelRequest    | 254        | Return Label Requested                              |
            | ChannelRequest    | 256        | Return Label Generated                              |
            | ChannelRequest    | 257        | Return Label Generation Error                       |
            | ChannelRequest    | 258        | Return Pickup Requested                             |
            | ChannelRequest    | 259        | Return Accepted                                     |
            | ChannelRequest    | 260        | Warranty Check Failed                               |
            | VendorRequest     | 91         | Tracking Change                                     |
            | VendorRequest     | 92         | Action Status Change                                |
            | VendorRequest     | 94         | Comment Change                                      |
            | VendorRequest     | 90         | Created                                             |
            | VendorRequest     | 95         | Closed                                              |
            | VendorRequest     | 96         | Canceled                                            |
            | VendorRequest     | 97         | Action Required                                     |
            | VendorRequest     | 93         | Status Change                                       |
            | VendorRequest     | 200        | Intercept Attempt                                   |
            | VendorRequest     | 201        | Intercept Failed                                    |
            | VendorRequest     | 202        | Intercept In-Route                                  |
            | VendorRequest     | 203        | Intercept Delivered                                 |
            | VendorRequest     | 210        | Lost Shipment Trace Requested                       |
            | VendorRequest     | 211        | Lost Shipment Trace Failed                          |
            | VendorRequest     | 212        | Lost Shipment In-Route                              |
            | VendorRequest     | 213        | Lost Shipment Delivered                             |
            | VendorRequest     | 214        | Lost Shipment Claim Opened                          |
            | VendorRequest     | 215        | Lost Shipment Claim Paid                            |
            | VendorRequest     | 216        | Lost Shipment Claim Denied                          |
            | VendorRequest     | 220        | Missing Accessory Credit Offered                    |
            | VendorRequest     | 221        | Missing Accessory Credit Countered                  |
            | VendorRequest     | 222        | Missing Accessory Return Created                    |
            | VendorRequest     | 223        | Missing Accessory Label Requested                   |
            | VendorRequest     | 225        | Missing Accessory Label Generated                   |
            | VendorRequest     | 226        | Missing Accessory Label Generation Error            |
            | VendorRequest     | 227        | Missing Accessory Credit Accepted                   |
            | VendorRequest     | 228        | Missing Accessory Pickup Requested                  |
            | VendorRequest     | 229        | Missing Accessory Shipped                           |
            | VendorRequest     | 240        | Partial Credit Accepted                             |
            | VendorRequest     | 241        | Partial Credit Counter                              |
            | VendorRequest     | 242        | Partial Credit Impasse                              |
            | VendorRequest     | 250        | Return Credited                                     |
            | VendorRequest     | 251        | Return Credit Offered                               |
            | VendorRequest     | 252        | Return Exchanged                                    |
            | VendorRequest     | 253        | Return Received                                     |
            | VendorRequest     | 254        | Return Label Requested                              |
            | VendorRequest     | 256        | Return Label Generated                              |
            | VendorRequest     | 257        | Return Label Generation Error                       |
            | VendorRequest     | 258        | Return Pickup Requested                             |
            | VendorRequest     | 259        | Return Accepted                                     |
            | VendorRequest     | 260        | Warranty Check Failed                               |
            | Promotion         | 130        | Starting New                                        |
            | Promotion         | 131        | Ending                                              |
            | Promotion         | 132        | Ended                                               |
            | Promotion         | 133        | Invited                                             |
            | Promotion         | 134        | Accepted                                            |
            | Promotion         | 135        | Rejected                                            |
            | Promotion         | 136        | Cancellation Requested                              |
            | Promotion         | 137        | Canceled                                            |
            | Promotion         | 138        | Status Change                                       | 
            For full list of possible events, please refer to the response schema.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetNotificationResults'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:notifications
  /notifications/update:
    post:
      tags:
        - Notification API
      summary: Update notifications.
      description: >-
         This endpoint allows a user to update a group of notifications.
      operationId: updateNotifications
      requestBody:
        description: >-
          Update notifications in batch.
          The result of this call creates a job that is processed asynchronously. Retain the ReportId and use appropriate get report call to monitor the job's progress.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotificationUpdateReq'
        required: true
      responses:
        '201':
          description: Successful operation.
[...]
