openapi: 3.0.3
info:
  title: Quipt - OpenAPI 3.0
  description: >-
    View the [wiki](https://getquipt.github.io) for more details.
  version: 2.0.0
servers:
  - url: https://api.getquipt.com/v2
tags:
  - name: Vendor API - Inventory
    description: >- 
      Perform vendor workflows. 
      The inventory services below provide the ability to manage inventory listings within Quipt. 
      The provided services can be used manage everything from quantity synchronization to creating, publishing, and listing the inventory on partner sites. 
    externalDocs:
      description: Find out more about a vendor inventory integration.
      url: https://getquipt.github.io/vendor-api.html#inventory
  - name: Vendor API - Orders
    description: >-
      The order services provide the ability to manage orders expected to be fulfilled by Quipt vendors. 
      The provided services may be used to download, acknowledge, ship, invoice, and cancel orders.
    externalDocs:
      description: Find out more about a vendor order integration.
      url: https://getquipt.github.io/vendor-api.html#orders  
  - name: Vendor API - Shipments
    description: >-
      The shipment services provide a mechanism to manage shipments if your company is using ‘Ship via Quipt’.
      The primary purpose is to download the necessary packing and shipment documents. 
    externalDocs:
      description: Find out more about a vendor shipment integration.
      url: https://getquipt.github.io/vendor-api.html#shipments
  - name: Vendor API - Requests
    description: >-
      The request services below provide the ability to manage requests expected to be completed by Quipt vendors. 
      The provided services can be used to download, acknowledge, and close requests. 
    externalDocs:
      description: Find out more about a vendor request integration.
      url: https://getquipt.github.io/vendor-api.html#requests  
  - name: Channel API - Virtual Inventory
    description: >-
      The inventory services below provide the ability to manage virtual inventory listings within Quipt.
    externalDocs:
      description: Find out more about a channel integration.
      url: https://getquipt.github.io/channel-api.html#inventory
  - name: Channel API - Orders
    description: >-
      The order services provide the ability to manage orders expected to be fulfilled by Quipt vendors. 
      The provided services may be used to download, acknowledge, ship, invoice, and cancel orders. 
    externalDocs:
      description: Find out more about a channel integration.
      url: https://getquipt.github.io/channel-api.html#orders
  - name: Channel API - Requests
    description: >-
      The request services below provide the ability to manage requests expected to be completed by Quipt vendors. 
      The provided services can be used to download, acknowledge, and close requests.
    externalDocs:
      description: Find out more about a channel integration.
      url: https://getquipt.github.io/channel-api.html#requests     
  - name: Catalog API
    description: Search product catalog.
  - name: Notification API
    description: >-
      Within Quipt users may subscribe to a defined set of events that occur throughout the application. 
      When an event is fired a notification is sent to the user. 
      The following API endpoints allow the user to access the notifications generated. 
      Currently the endpoints only allows the user to monitor for new messages and archive those that are no longer needed.

      Sample use cases.

      - Tracking movement through any work flow, ie Orders.

      - Monitor for changes, including price and quantity.
  - name: Carrier API
    description: >-
      Navigate the available carriers and related methods they support. **No authorization required for the endpoints listed below.**
    externalDocs:
      description: View sheet with all carriers and methods.
      url: https://docs.google.com/spreadsheets/d/1qqNOVK_8K12AGUfIlGtWngTC6atZ46UYuurWLPxplpQ
  - name: Taxonomy API
    description: >-
      Navigate our taxonomy. **No authorization required for the endpoints listed below.**
      Categories are arranged in a tree structure, where:<br/>
      - Each category has a unique id.<br/>
      - A category can have multiple child categories.<br/>
      - A category must have IsLeaf: true to have a product assigned to it.
      - Any category may have Attributes associated, but refer to categories with IsLeaf: true to see those required for a category.
    externalDocs:
      description: View taxonomy.
      url: https://getquipt.github.io/taxonomy.html  
paths:
  /inventory/physical:
    post:
      tags:
        - Vendor API - Inventory
      summary: Add or update physical inventory items.
      description: |
        Creates new inventory items or updates existing ones based on the provided SKU or item identifier.  
      
        Use this endpoint to:
        - Add new products into the physical inventory system.
        - Update stock levels, location assignments, or item attributes.

        **Behavior:**
        - If the `SKU` already exists, the item is updated.
        - If the `SKU` does not exist, a new item is created.
        - Partial updates are supported (fields not included remain unchanged).
        
        **Common use cases:**
        - Importing product content.
        - Correcting inventory discrepancies.
        - Updating pricing, allocations or other feed details.
  
        **Asynchronous Processing**
        - The request creates a background job rather than updating immediately.
        - The response includes a `ReportId` which uniquely identifies the job.
        - Use the [`inventoryItemsReport`](#Vendor_API_-_Inventory-inventoryItemsReport) endpoint to monitor job progress and retrieve results.
      operationId: inventoryItemsAddUpdate
      requestBody:
        description: |
          **Required Field**
          - `SKU` – Unique identifier for the inventory item.
          
          **Recommended Fields**
          - `Locations` – Used to manage warehouse quantity/availability.
          - `Feeds` - Used to manage pricing per channel.
          - `Pricing` - Used to manage global pricing, affects all channels.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:inventory
  /inventory/physical/report/{reportId}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Inventory
      summary: Retrieve job report results by ReportId.  
      description: |
        Returns the results of a previously submitted **Add/Update Inventory Items** job.  
  
        **Overview**
        - Use this endpoint to monitor the status and results of asynchronous inventory import jobs.  
        - Each job is identified by a `ReportId` returned from the initial `/inventory/physical` request.  
        - Reports may contain success/failure details for each processed item.  
  
        **Behavior**
        - If the job is still processing, the response includes a `Status`.  
        - Once complete, the report includes item-level results.  
        - Pagination allows retrieval of large job results in chunks.  
  
        **Common use cases**
        - Poll for job completion before updating UI or triggering follow-up processes.  
        - Retrieve error messages for failed items to correct and resubmit. 
      operationId: inventoryItemsReport
      parameters:
        - name: reportId
          in: path
          description: The ReportId provided by the `inventoryItemsAddUpdate` response.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: includeLines
          in: query
          description: Whether or not to include line details with report.
          required: false
          schema:
            type: boolean    
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:inventory  
  /inventory/physical/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Inventory
      summary: Retrieve physical inventory items (paged).
      description: |
        Returns a paged list of inventory items.
  
        **Overview**
        - Use this endpoint to browse or search your inventory in batches.  
        - Supports pagination through the `pageSize` and `pageNumber` path parameters.  
        - Optional query parameters can filter or refine results (e.g., by `skus`, `ids`, or `statuses`).
  
        **Behavior**
        - Pagination metadata (`PageNumber`, `Total`, and `HasMorePages`) is included in the response.  
  
        **Common use cases**
        - Display paginated results in a UI inventory table.  
        - Synchronize downstream systems by fetching inventory in chunks.  
        - Retrieve subsets of items for reporting or auditing. 
      operationId: inventoryItems
      parameters:
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: skus
          in: query
          description: Comma separated list of SKUs to lookup.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: ids
          in: query
          description: Comma separated list of ids to lookup.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Catalog
                - Feeds
                - Comments
                - History
                - Report
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:inventory
  /inventory/physical/id/{id}:
    get:
      tags:
        - Vendor API - Inventory
      summary: Retrieve a physical inventory item by ID.
      description: |
        Returns the details of a single inventory item identified by its unique `id`.
  
        **Overview**
        - Use this endpoint to fetch all available details for one specific inventory record.
        - The `id` corresponds to the system-assigned unique identifier for the item.
        - Commonly used to display detailed item information in UIs or for integration lookups.
  
        **Behavior**
        - If the item exists, the full record is returned.
        - If no item with the given `id` is found, a `404` error is returned.
  
        **Common use cases**
        - Fetching a single inventory record for editing or auditing.
        - Displaying item details in an admin console or web app.
        - Cross-referencing inventory data when integrating with external systems.
      operationId: inventoryItemsById
      parameters:
        - name: id
          in: path
          description: The id to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Catalog
                - Feeds
                - Comments
                - History
                - Report
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryResult'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:inventory
  /inventory/GroupAndEnrich:
    post:
      tags:
        - Vendor API - Inventory
      summary: Group and enrich inventory items.
      description: |
        Uploaded a file, aggregated by category, along with a selected template by name. The file 
        is parsed, grouped according to the template configuration, and enriches the data using Quipt’s 
        catalog, partner pricing data, and the partner's existing inventory records. The result is a 
        normalized dataset containing matched Quipt SKUs, grouped inventory units, partner pricing insights, 
        and an estimated recovery value based on Quipt’s pricing model.  Returns the details of a single inventory 
        item identified by its unique `id`.
  
        **Overview**
        - Commonly used to identify how an inventory items can be linked to Quipt catalog. Also, if requested, include current or estimated pricing.
  
        **Behavior**
        - If the item exists, identity Quipt internal catalog id and vendor sku, if exists.
        - If the item does NOT exist, if requested, create a partially completed content file.
  
        **Common use cases**
        - Identify if included items exist in the Quipt catalog.
        - Identify existing skus.
        - If requested, included existing pricing and Quipt model pricing. 
      operationId: inventoryItemsGroupAndEnrich
      requestBody:
        description: Data to upload and template name to use for grouping and enriching the inventory data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryGroupAndEnrichJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryGroupAndEnrichJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:inventory
  /inventory/GroupAndEnrich/report/{reportId}:
    get:
      tags:
        - Vendor API - Inventory
      summary: Get group and enrich job report details by ReportId.  
      description: |
        Returns the results of a previously submitted **Group And Enrich Inventory Items** job.  
  
        **Overview**
        - Use this endpoint to monitor the status and results of asynchronous inventory import jobs.  
        - Each job is identified by a `ReportId` returned from the initial `/inventory/physical` request.  
        - Reports may contain success/failure details for each processed item.  
  
        **Behavior**
        - If the job is still processing, the response includes a `Status`.  
        - Once complete, the report includes item-level results.  
        - Pagination allows retrieval of large job results in chunks.  
  
        **Common use cases**
        - Poll for job completion before updating UI or triggering follow-up processes.  
        - Retrieve error messages for failed items to correct and resubmit. 
      operationId: inventoryGroupAndEnrichReport
      parameters:
        - name: reportId
          in: path
          description: The ReportId provided by the 'inventoryGroupAndEnrichReport' response.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation. Expect response Paging = null. No paging is used for this endpoint as the full results are returned in a single document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryGroupAndEnrichReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:inventory  
  /orders/fulfillment/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Orders
      summary: Retrieve fulfillment orders (paged).
      description: |
        Returns a paginated list of orders that are eligible for fulfillment.
  
        **Important**
        - `Lines[] represents what Quipt receives from a channel when orders are received. Due to sku normalization, availability, and pricing Quipt encapsulate details for the vendor within Lines[].Fulfillments[]. To ensure expected data is returned by the endpoint inclusion of '?include=Fulfillments' is required.`
  
        **Overview**
        - Use this endpoint to retrieve orders that require picking, packing, or shipping.
        - Supports pagination with `pageSize` and `pageNumber` path parameters.
        - Optional query parameters may filter orders (e.g., by orderStatus).
  
        **Behavior**
        - Results include metadata (`PageNumber`, `Total`, `HasMorePages`) for pagination.  
        - Orders are returned in a deterministic order (commonly by `createdAt` or `updatedAt`).  
        - If the requested page exceeds available results, an empty list is returned.  
        **Common use cases**
        - Display paginated orders in an admin portal or fulfillment dashboard.  
        - Integrate with a warehouse system for batch picking and packing.  
        - Retrieve subsets of orders for reporting or analytics.  
      operationId: salesOrders
      parameters:
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32  
        - name: orderStatus
          in: query
          description: >- 
            A comma separated list of statuses.<br/>
            2 = Pending<br/>
            4 = Open<br/>
            8 = Shipped<br/>
            16 = Canceled
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices
                - Shipments
                - Cancellations
                - PackingSlips
                - ShipByTruckRequests
                - Payments
                - Fulfillments
                - Acknowledgements
                - SubstitutionFor
                - MetaFields
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/OrderReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/fulfillment/id/{id}:
    get:
      tags:
        - Vendor API - Orders
      summary: Retrieve a fulfillment order by ID.
      description: |
        Returns the details of a single fulfillment order identified by its unique `id`.
  
        **Important**
        - `Lines[] represents what Quipt receives from a channel when orders are received. Due to sku normalization, availability, and pricing Quipt encapsulate details for the vendor within Lines[].Fulfillments[]. To ensure expected data is returned by the endpoint inclusion of '?include=Fulfillments' is required.`
        
        **Overview**
        - Use this endpoint to fetch all available information for one order.
        - The `id` corresponds to the system-assigned unique identifier for the order.
        - Commonly used to display order details in a fulfillment dashboard, verify status,
          or integrate with external systems.
  
        **Behavior**
        - If the order exists, the full order record is returned.
        - If no order with the given `id` is found, a `404` error is returned.
  
        **Common use cases**
        - Displaying full order details in an admin portal.
        - Looking up an order’s fulfillment status for customer service.
        - Cross-referencing order data during warehouse or ERP integration.
      operationId: salesOrdersById
      parameters:
        - name: id
          in: path
          description: The id to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices
                - Shipments
                - Cancellations
                - PackingSlips
                - ShipByTruckRequests
                - Payments
                - Fulfillments
                - Acknowledgements
                - SubstitutionFor
                - MetaFields
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/PurchaseOrderResult'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/fulfillment/po/{channelIdOrCode}/{poNumber}:
    get:
      tags:
        - Vendor API - Orders
      summary: Retrieve a fulfillment order by purchase order number.
      description: |
        Returns the details of a fulfillment order using the **purchase order number (PO)** along with its associated sales channel.
  
        **Important**
        - `Lines[] represents what Quipt receives from a channel when orders are received. Due to sku normalization, availability, and pricing Quipt encapsulate details for the vendor within Lines[].Fulfillments[]. To ensure expected data is returned by the endpoint inclusion of '?include=Fulfillments' is required.`
  
        **Overview**
        - Use this endpoint when you need to fetch an order by its PO number instead of the system `id`.
        - The `channelIdOrCode` parameter identifies the sales channel, managed via partner settings.
        - The `poNumber` parameter is the purchase order number assigned within that channel.
        - Commonly used for B2B workflows where orders are tracked against PO numbers.
  
        **Behavior**
        - If a matching order is found, the full order record is returned.
        - If no matching order exists for the given `channelIdOrCode` + `poNumber`, a `404` error is returned.
  
        **Common use cases**
        - Customer service lookups when a client references their PO number.
        - Reconciling orders between Quipt and an external ERP or sales channel.
        - Validating fulfillment status of wholesale or drop-ship POs.
      operationId: salesOrdersByPO
      parameters:
        - name: channelIdOrCode
          in: path
          description: The id or partner reference to lookup.
          required: true
          schema:
            type: string
        - name: poNumber
          in: path
          description: The purchase order number to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices
                - Shipments
                - Cancellations
                - PackingSlips
                - ShipByTruckRequests
                - Payments
                - Fulfillments
                - Acknowledgements
                - SubstitutionFor
                - MetaFields
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrderResult'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/fulfillment/channel/{channelIdOrCode}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Orders
      summary: Retrieve fulfillment orders by channel (paged).
      description: |
        Returns a paginated list of fulfillment orders filtered by a specific sales channel.
  
        **Important**
        - `Lines[] represents what Quipt receives from a channel when orders are received. Due to sku normalization, availability, and pricing Quipt encapsulate details for the vendor within Lines[].Fulfillments[]. To ensure expected data is returned by the endpoint inclusion of '?include=Fulfillments' is required.`
        
        **Overview**
        - Use this endpoint to fetch only the orders associated with a given channel.  
        - Supports pagination via the `pageSize` and `pageNumber` path parameters.  
        - Optional query parameters can further filter results.  

        **Behavior**
        - Orders are returned only if they belong to the specified channel.  
        - Response includes pagination metadata (`PageNumber`, `Total`, `HasMorePages`).  
        - If no orders exist for the channel, an empty list is returned.  
  
        **Common use cases**
        - Building channel-specific dashboards.  
        - Synchronizing orders with a warehouse or ERP on a per-channel basis.  
        - Filtering out irrelevant orders when working with multi-channel fulfillment workflows.
      operationId: salesOrdersByChannel
      parameters:
        - name: channelIdOrCode
          in: path
          description: The id or partner reference to lookup.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32  
        - name: orderStatus
          in: query
          description: >- 
            A comma separated list of statuses.<br/>
            2 = Pending<br/>
            4 = Open<br/>
            8 = Shipped<br/>
            16 = Canceled
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices
                - Shipments
                - Cancellations
                - PackingSlips
                - ShipByTruckRequests
                - Payments
                - Fulfillments
                - Acknowledgements
                - SubstitutionFor
                - MetaFields
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/fulfillment/acknowledge:
    post:
      tags:
        - Vendor API - Orders
      summary: Ability to accept, rejected, or back order.
      description: |
        Allows you to **accept**, **reject**, or **back order** a sales order received through a fulfillment channel.
    
        **Overview**
        - Use this endpoint to confirm to the vendor whether you will fulfill the order, reject it, or mark it as back ordered.
        - The request must specify the acknowledgment status and may include optional notes for additional context.
        - The vendor will use this response to update order status in their system.
    
        **Common use cases**
        - Confirming a new order can be fulfilled.
        - Informing the vendor of insufficient stock (backorder).
        - Declining an order when it cannot be processed.
      operationId: salesOrdersAck
      requestBody:
        description: |
          The request body contains one or more **order acknowledgements**.  
      
          Each acknowledgement specifies:
          - **Lines**: Line-level acknowledgements for individual SKUs, which may be:
            - **Accepted**: Includes expected ship date and accepted quantity.  
            - **Rejected**: Includes rejection reason, optional serials, and quantity rejected.  
            - **BackOrdered**: Includes promised date and backordered quantity.  
      
          The `TransactionId` may be provided to correlate this acknowledgement request with other transactions for traceability.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderAckJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderAckJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:orders
  /orders/fulfillment/ship:
    post:
      tags:
        - Vendor API - Orders
      summary: Mark orders as shipped.
      description: |
        Updates one or more sales orders by providing shipment details.
  
        **Overview**
        - Use this endpoint to notify the channel that an order has been shipped.
        - Multiple orders may be shipped in a single request (batch support).
  
        **Common use cases**
        - Sending tracking numbers back to the channel once labels are generated.
        - Synchronizing warehouse management systems with the sales channel.
        - Batch-confirming a group of orders shipped at the same time.
      operationId: salesOrdersShip
      requestBody:
        description: |
          The request body contains one or more **shipments**.  
      
          Each shipment includes:
          - **Packages**: One or more packages in the shipment, each containing:
            - **Lines**: Line items shipped, including SKU, shipped quantity, and optional serial numbers.  
            - **CarrierMethod**: Carrier and service details (e.g., UPS Ground, FedEx 2-Day).  
            - **TrackingNumber**: Tracking identifier provided by the carrier.  
            - **Shipping**: Shipping cost or quantity metrics, if applicable.  

          The optional `TransactionId` may be included to correlate the shipment with other transactions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderShipJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderShipJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:orders   
  /orders/fulfillment/invoice:
    post:
      tags:
        - Vendor API - Orders
      summary: Submit invoices for orders.
      description: |
        Creates one or more invoices for previously shipped orders.
  
        **Overview**
        - Use this endpoint to report invoicing activity back to the channel.
        - Each request may include one or multiple invoices.
  
        **Behavior**
        - If the `id` or `purchaseOrderNumber` is valid, the invoice is accepted and recorded.
        - If the order is not found or the invoice payload is invalid, an error is returned.
        - Partial success is possible when some invoices are valid while others fail.
  
        **Common use cases**
        - Submitting invoices after shipping an order.
        - Synchronizing ERP or accounting systems with vendor records.
        - Providing invoice metadata for reconciliation and reporting.
      operationId: salesOrdersInvoice
      requestBody:
        description: |
          The request body contains one or more **invoices**.
      
          Each invoice includes:
          - **Lines**: Individual line items being invoiced, with SKU, invoiced quantity, and price.  
          - **InvoiceNumber**: Vendor’s invoice reference number.  
          - **InvoicedAt**: Date and time when the invoice was issued.  
          - **Shipping / Tax / Discount / Miscellaneous / Total**: Monetary amounts that make up the final invoice value.  
      
          The optional `TransactionId` can be included to correlate this invoice with external systems or batch processes.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderInvoiceJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderInvoiceJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:orders
  /orders/fulfillment/archive:
    post:
      tags:
        - Vendor API - Orders
      summary: Archive orders.
      description:  |
        **All orders are automatically archived 90 days after termination.**
  
        Moves one or more sales orders into an **archived state**. 
        
        **Overview**
        - Use this endpoint to archive shipped or canceled.
        - Archived orders are retained for record-keeping but are excluded from active processing and standard list queries.
        - Orders may still be retrieved by ID if needed.
  
        **Behavior**
        - Accepts one or more order IDs in the request body.
        - Partial success allowed if all orders may not be archived.

        **Common use cases**
        - Managing lifecycle of completed or cancelled orders.
        - Keeping historical data for reporting while removing it from active workflows.
      operationId: salesOrderArchive
      requestBody:
        description: |
          The request body specifies one or more purchase orders to process.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderArchiveJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderArchiveJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:orders     
  /orders/fulfillment/report/{reportId}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Orders
      summary: Retrieve job report results by ReportId.  
      description: |
        Returns the results of a previously submitted **Acknowledgement**, **Ship**, **Invoice**, or **Archive** job.  
  
        **Overview**
        - Use this endpoint to monitor the status and results of asynchronous order import jobs.  
        - Each job is identified by a `ReportId` returned from the initial `/orders/fulfillment` request.  
        - Reports may contain success/failure details for each processed item.  
  
        **Behavior**
        - If the job is still processing, the response includes a `Status`.  
        - Once complete, the report includes item-level results.  
        - Pagination allows retrieval of large job results in chunks.  
  
        **Common use cases**
        - Poll for job completion before updating UI or triggering follow-up processes.  
        - Retrieve error messages for failed items to correct and resubmit. 
      operationId: salesOrderReport
      parameters:
        - name: reportId
          in: path
          description: The ReportId provided by the POST endpoints.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: includeLines
          in: query
          description: Whether or not to include line details with report.
          required: false
          schema:
            type: boolean    
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderJobReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders  
  /orders/shipment/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Shipments
      summary: Retrieve shipments (paged).
      description: |
        Returns a paginated list of shipments in the system.
  
        **Overview**
        - Use this endpoint to browse shipments in batches.  
        - Results include order reference, warehouse, packages, and invoice data.  
        - Supports pagination through the `pageSize` and `pageNumber` path parameters.  
        **Behavior**
        - Shipments are returned in a consistent order (commonly by `createdAt` or `shippedAt`).  
        - If the requested page exceeds the number of available shipments, an empty list is returned.  
        - Pagination metadata (`PageNumber`, `Total`, `HasMorePages`) is included in the response.  
  
        **Common use cases**
        - Displaying shipments in an admin portal.  
        - Integrating with warehouse systems or carrier tracking for batch queries.  
        - Reconciling shipped orders with ERP or accounting systems.
      operationId: salesShipments
      parameters:
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32  
        - name: statuses
          in: query
          description: >- 
            A comma separated list of statuses.<br/>
            2 = Pending<br/>
            32 = New<br/>
            128 = Ready<br/> 
            512 = Generating<br/>
            1024 = Generated<br/> 
            4096 = Exported<br/>
            16384 = Printed<br/>
            131072 = Pickup Requested<br/>
            524288 = Picked Up<br/>
            2097152 = Error<br/>
            8388608 = Canceled
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: orderIds
          in: query
          description: >- 
            A comma separated list of order ids.
          required: false
          schema:
            type: array
            items:
              type: string  
        - name: warehouseIds
          in: query
          description: >- 
            A comma separated list of warehouse ids.
          required: false
          schema:
            type: array
            items:
              type: string      
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices 
                - PackingSlips
                - ShipByTruckRequests
                - Labels
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:shipments
  /orders/shipment/id/{id}:
    get:
      tags:
        - Vendor API - Shipments
      summary: Retrieve a shipment by ID.
      description: |
        Returns the details of a single shipment identified by its unique `id`.
  
        **Overview**
        - Use this endpoint to fetch all available details for a specific shipment.
        - The `id` corresponds to the system-assigned unique shipment identifier.
        - Commonly used to display shipment details, confirm tracking data, or integrate with external carrier systems.
  
        **Behavior**
        - If the shipment exists, the full record is returned including order reference, warehouse, packages, and invoice data.
        - If no shipment with the given `id` is found, a `404` error is returned.
  
        **Common use cases**
        - Customer service lookups to verify shipment details.
        - Auditing shipment history for an order.
        - Synchronizing fulfillment and carrier tracking data across systems.
      operationId: salesShipmentsByI
      parameters:
        - name: id
          in: path
          description: The id to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices 
                - PackingSlips
                - ShipByTruckRequests
                - Labels
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentResult'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/shipment/acknowledge:
    post:
      tags:
        - Vendor API - Shipments
      summary: Acknowledge shipments.
      description: Acknowledge shipments.
      operationId: salesShipmentsAck
      requestBody:
        description: |
          The request body contains one or more **shipment acknowledgements**.  
      
          Each acknowledgement may represent a shipment, invoice, or cancellation depending on the `AckType` value:
      
          - **AckType 0 (Shipment)**: Includes `ShipmentId`, `CarrierMethod`, and `TrackingNumber`.  
          - **AckType 1 (Invoice)**: Includes `InvoiceDetails` with invoice number and invoice date.  
          - **AckType 2 (Cancellation)**: Includes `CancelationDetails` with reason code and description.  
      
          The optional `TransactionId` can be provided to correlate this acknowledgement batch with external systems or processes.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentAckJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentAckJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:shipments
  /orders/shipment/report/{reportId}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Shipments
      summary: Retrieve job report results by ReportId.  
      description: |
        Returns the results of a previously submitted **Acknowledgement** job.  
  
        **Overview**
        - Use this endpoint to monitor the status and results of asynchronous shipment import jobs.  
        - Each job is identified by a `ReportId` returned from the initial `/orders/shipment` request.  
        - Reports may contain success/failure details for each processed item.  
  
        **Behavior**
        - If the job is still processing, the response includes a `Status`.  
        - Once complete, the report includes item-level results.  
        - Pagination allows retrieval of large job results in chunks.  
  
        **Common use cases**
        - Poll for job completion before updating UI or triggering follow-up processes.  
        - Retrieve error messages for failed items to correct and resubmit.
      operationId: salesShipmentsReport
      parameters:
        - name: reportId
          in: path
          description: The ReportId provided by the POST response.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: includeLines
          in: query
          description: Whether or not to include line details with report.
          required: false
          schema:
            type: boolean    
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentJobReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:shipments
  /requests/fulfillment/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Requests
      summary: Retrieve fulfillment requests (paged).
      description: |
        Returns a paginated list of requests.
  
        **Overview**
        - A request represents a post-sales transaction, such as:  
          - Return  
          - Missing accessory  
          - Lost shipment  
          - Intercept  
          - Refund    
        - Use this endpoint to fetch requests in batches for monitoring or reporting.  
        - Pagination is controlled with the `pageSize` and `pageNumber` path parameters.  
  
        **Behavior**
        - Empty list returned if no results found.
        - Response includes pagination metadata (`PageNumber`, `Total`, `HasMorePages`).  
  
        **Common use cases**
        - Displaying requests in an admin dashboard.  
        - Auditing fulfillment activity for reconciliation.  
      operationId: salesRequests
      parameters:
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32  
        - name: requestStatus
          in: query
          description: >- 
            A comma separated list of statuses.
            2 = Pending, 
            4 = Open, 
            8 = Closed, 
            16 = Canceled
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Group
                - Lines.FillLine
                - Lines.Tracking
                - Lines.OrderLine
                - Lines.OrderLine.Fulfillments
                - Lines.OrderLine.Acknowledgements
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReqReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:requests
  /requests/fulfillment/{channelIdOrCode}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Requests
      summary: Retrieve fulfillment requests by channel (paged).
      description: |
        Returns a paginated list of xrequests filtered by channel.
  
        **Overview**
        - A request represents a post-sales transaction, such as:  
          - Return  
          - Missing accessory  
          - Lost shipment  
          - Intercept  
          - Refund  
        - Use this endpoint to fetch requests in batches for monitoring, reporting, or reconciliation.  
        - Results are filtered by the channel specified in `channelIdOrCode`.  
  
        **Behavior**
        - Empty list is returned if no results are found for the given channel.  
        - Response includes pagination metadata (`pageNumber`, `pageSize`, `total`, `hasMorePages`).  
  
        **Common use cases**
        - Displaying requests in an admin dashboard for a specific channel.  
        - Auditing fulfillment activity at a channel level.  
      operationId: salesRequestsByChannel
      parameters:
        - name: channelIdOrCode
          in: path
          description: The id or partner reference to lookup.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32  
        - name: requestStatus
          in: query
          description: >- 
            A comma separated list of statuses.<br/>
            2 = Pending<br/>
            4 = Open<br/>
            8 = Closed<br/>
            16 = Canceled
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Group
                - Lines.FillLine
                - Lines.Tracking
                - Lines.OrderLine
                - Lines.OrderLine.Fulfillments
                - Lines.OrderLine.Acknowledgements
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReqReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:requests
  /requests/fulfillment/id/{id}:
    get:
      tags:
        - Vendor API - Requests
      summary: Retrieve a fulfillment request by ID.
      description: |
        Returns the details of a single fulfillment request identified by its unique `id`.
  
        **Overview**
        - A request represents a post-sales transaction, such as:  
          - Return  
          - Missing accessory  
          - Lost shipment  
          - Intercept  
          - Refund
        - This endpoint retrieves all available details for the request, including type, status, timestamps, and any notes or resolution details.  
  
        **Behavior**
        - If the request exists, the full record is returned.  
        - If no request is found for the given `id`, a `404` error is returned.  
  
        **Common use cases**
        - Customer service lookups to check the status of a specific request.  
        - Auditing or reconciling fulfillment activities at the request level.  
        - Integrating request details into ERP, CRM, or reporting systems.
      operationId: salesRequestsById
      parameters:
        - name: id
          in: path
          description: The id to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Group
                - Lines.FillLine
                - Lines.Tracking
                - Lines.OrderLine
                - Lines.OrderLine.Fulfillments
                - Lines.OrderLine.Acknowledgements
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReqReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:requests
  /requests/fulfillment/acknowledge:
    post:
      tags:
        - Vendor API - Requests
      summary: Acknowledge requests.
      description: |
        Records an acknowledgement for one or more requests.  
  
        **Overview**
        - Acknowledgement indicates that the request (such as a return, refund, lost shipment, intercept, or missing accessory) has been **reviewed**.  
        - Each acknowledgement is tied to a specific request ID.  
  
        **Behavior**
        - Supports batch acknowledgements by passing multiple request IDs in one payload.  
        - Returns success/failure for each acknowledgement processed.  
        - Requests that cannot be found or acknowledged will be reported in the response.  
  
        **Common use cases**
        - Marking customer service requests as acknowledged in a back-office system.  
        - Synchronizing request statuses between external systems and Quipt.  
        - Tracking workflow actions taken on returns, refunds, or shipment issues. 
      operationId: salesRequestsAck
      requestBody:
        description: |
          The request body contains one or more **request acknowledgements**.
      
          Each acknowledgement includes:
          - **Lines**: One or more line items being acknowledged.  
            - **SKU**: Identifies the product being acknowledged.  
            - **Accepted**: Quantity details for items accepted.  
            - **Rejected**: Reason code, reason text, and quantity for items rejected.  
            - **Id**: Optional unique identifier for the line item (nullable if not available).  
      
          **Usage**
          - Use this endpoint to confirm which items within a request are accepted or rejected.  
          - Both accepted and rejected sections may appear on the same line to provide partial acceptance details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesReqAckJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesReqAckJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/create:
    post:
      tags:
        - Vendor API - Requests
      summary: Create a new request.
      description: |
        Creates one or more requests such as returns, credits, or missing accessory.  
      
        **Overview**
        - A request represents a post-sales transaction (e.g., return, refund, missing accessory, advanced replacement).
        - Use this endpoint to initiate new requests tied to a purchase order, line items, or unidentified items.
        - Requests may include optional notes and user-defined fields to support custom workflows.
      
        **Behavior**
        - Multiple requests can be submitted in a single API call.
        - Each request includes order and line-level details.
        - Unidentified items can be submitted if they are not linked to an existing purchase order.
        - The system generates unique IDs for created requests and returns them in the response.
      operationId: salesRequestAdd
      requestBody:
        description: |
          The request includes one or more **requests**.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesReqJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesReqJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/returnupdate:
    post:
      tags:
        - Vendor API - Requests
      summary: Update return request.
      description: |
        Updates an existing return request with new actions, reference numbers, notes, or line-level details.
      
        **Overview**
        - This endpoint is used to modify return requests after they have been created.
        - Updates may include:  
          - Changing the request action (e.g., exchange, credit, replacement).  
          - Assigning a new reference number.  
          - Adding or updating notes.  
          - Adjusting line-level return details such as exchange, credit, accept/replacement, warehouse, or tracking.  
        - The system applies updates to the specified request and returns confirmation once processed.
      
        **Behavior**
        - Requires the `Request.Id` to identify the return request being updated.  
        - Supports updating one or more line items in the same request.  
        - Non-specified fields remain unchanged.  
        - Returns an error if the request ID is invalid or cannot be updated.
      operationId: salesRequestsUpdateReturn
      requestBody:
        description: |
          The request body contains one or more **return updates**.  
      
          Each request update includes:
          - **Action** *(required)*: Integer code representing the update action (e.g., approve, deny, exchange).  
          - **Request** *(required)*: Identifies the return request being updated by `Id`.  
          - **NewReferenceNumber** *(optional)*: Assigns or updates a reference number.  
          - **Notes** *(optional)*: Additional comments or context for the update.  
          - **Lines** *(optional)*: Array of line-level updates.  
            - **Exchange**: Specifies exchange details, including new carrier method.  
            - **Credit**: Credit processing details (e.g., whether a restocking fee applies).  
            - **Accept**: Replacement item details (e.g., SKU, vendor info).  
            - **ReturnedTo**: Warehouse and resale readiness details.  
            - **CarrierMethod**: Carrier method used for the returned item.  
            - **TrackingNumber**: Tracking identifier for the returned shipment.  
      
          **Usage**
          - Use this endpoint to apply updates to return requests throughout their lifecycle.  
          - Useful for managing customer returns, exchanges, replacements, and credits at both the header and line levels.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesReqReturnUpdateJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesReqReturnUpdateJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/missingaccessoryupdate:
    post:
      tags:
        - Vendor API - Requests
      summary: Update missing accessory request.
      description: |
        Updates an existing missing accessory request with new actions, notes, reference numbers, or line-level details.
      
        **Overview**
        - This endpoint is used to modify missing accessory requests after they are created.  
        - Updates may include:  
          - Changing the request action (e.g., approve, deny, credit, ship replacement).  
          - Assigning or updating a reference number.  
          - Adding or updating notes.  
          - Adjusting line-level details such as credits, shipments, and tracking.  
      
        **Behavior**
        - Requires the `Request.Id` to identify the request being updated.  
        - Multiple lines may be updated within the same request.  
        - Fields not specified in the update remain unchanged.  
        - Returns an error if the request ID is invalid or cannot be updated.
      operationId: salesRequestsUpdateMissingAccessory
      requestBody:
        description: |
          The request body contains one or more **missing accessory request updates**.  
      
          Each request update includes:
          - **Request** *(required)*: Identifies the request being updated by `Id`.  
          - **Action** *(required)*: Integer code indicating the update action.  
          - **NewReferenceNumber** *(optional)*: Assigns or updates a new reference number.  
          - **Notes** *(optional)*: Additional comments or context.  
          - **Lines** *(optional)*: Line-level updates that may include:  
            - **Credit**: Credit amount details.  
            - **Shipped**: Shipment details including carrier, tracking number, items shipped, and weight.  
      
          **Usage**
          - Use this endpoint to record credits or shipments tied to missing accessory requests.  
          - Helpful in warranty, replacement, and reconciliation workflows.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesReqMissingAccessoryUpdateJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesReqMissingAccessoryUpdateJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/lostshipmentupdate:
    post:
      tags:
        - Vendor API - Requests
      summary: Update lost shipment request.
      description: |
        Updates an existing lost shipment request with new actions, notes, reference numbers, or line-level details.
      
        **Overview**
        - This endpoint is used to manage lost shipment cases after they have been created.  
        - Updates may include:  
          - Assigning a new reference number.  
          - Adding or updating notes.  
          - Setting an action code (e.g., resolve, reopen, escalate).  
          - Updating line-level return details, including warehouse, resale readiness, or whether to create a return.  
      
        **Behavior**
        - Requires the `Request.Id` to identify the lost shipment request being updated.  
        - Supports updating one or more lines within a request.  
        - Non-specified fields remain unchanged.  
        - Returns an error if the request ID is invalid or cannot be updated.
      operationId: salesRequestsUpdateLostShipment
      requestBody:
        description: |
          The request body contains one or more **lost shipment request updates**.  
      
          **Fields**
          - `TransactionId` *(optional)*: Correlation identifier for tracking across external systems.  
          - `Requests` *(required)*: Array of request update objects.  
      
          Each request update includes:
          - **Lines** *(optional)*: One or more line-level updates.  
            - **ReturnedTo**: Specifies where the shipment was returned to and additional handling options.  
              - **Warehouse**: Identifies the warehouse by code (and optional Id).  
              - **ReadyForResale**: Indicates whether the returned item is suitable for resale.  
              - **CreateReturn**: Flag indicating if a return request should be automatically created.  
      
          **Usage**
          - Use this endpoint to resolve or update lost shipment cases.  
          - Common in workflows where a lost shipment later arrives at a warehouse or needs to be converted into a return.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesReqLostShipmentUpdateJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesReqLostShipmentUpdateJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/interceptupdate:
    post:
      tags:
        - Vendor API - Requests
      summary: Update intercept request.
      description: |
        Updates an existing intercept request with new actions, reference numbers, notes, or line-level details.
      
        **Overview**
        - An intercept request is raised when an order needs to be stopped or redirected before delivery.  
        - This endpoint allows updates to intercept requests, such as:  
          - Assigning a new reference number.  
          - Adding notes for context.  
          - Setting an action code (e.g., approve, deny, escalate).  
          - Updating line-level handling details, such as warehouse return, resale readiness, or auto-creating a return.  
      
        **Behavior**
        - Requires the `Request.Id` to identify the intercept request being updated.  
        - Supports multiple line updates within a single request.  
        - Fields not included in the payload remain unchanged.  
        - Returns an error if the request ID is invalid or cannot be updated.
      operationId: salesRequestsUpdateIntercept
      requestBody:
        description: |
          The request body contains one or more **intercept request updates**.  
      
          **Fields**
          - `TransactionId` *(optional)*: Correlation identifier for batch or external system tracking.  
          - `Requests` *(required)*: Array of intercept request updates.  
      
          Each request update includes:
          - **Request** *(required)*: Identifies the intercept request by `Id`.  
          - **NewReferenceNumber** *(optional)*: Assigns or updates a new reference number.  
          - **Action** *(required)*: Integer code representing the update action.  
          - **Notes** *(optional)*: Additional context or comments.  
          - **Lines** *(optional)*: One or more line-level updates.  
            - **ReturnedTo**: Specifies return handling details if the order or items are intercepted.  
              - **Warehouse**: Identifies the warehouse (by code or Id).  
              - **ReadyForResale**: Indicates whether the intercepted item is fit for resale.  
              - **CreateReturn**: Flag to indicate if a return request should be created automatically.  
      
          **Usage**
          - Use this endpoint to manage the lifecycle of intercept requests.  
          - Commonly applied when redirecting orders back to a warehouse or automatically creating returns after an intercept.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReqInterceptUpdateJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReqInterceptUpdateJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/creditupdate:
    post:
      tags:
        - Vendor API - Requests
      summary: Update credit request.
      description: |
        Updates an existing credit request with new actions, reference numbers, notes, or line-level credit details.
      
        **Overview**
        - A credit request represents a post-sales adjustment such as issuing a partial or full refund.  
        - This endpoint allows updates to existing credit requests, including:  
          - Assigning or updating a reference number.  
          - Adding notes for additional context.  
          - Setting an action code (e.g., approve, deny, escalate).  
          - Updating line-level credit amounts.  
      
        **Behavior**
        - Requires the `Request.Id` to identify the credit request being updated.  
        - Multiple line items may be updated in a single request.  
        - Fields not included in the payload remain unchanged.  
        - Returns an error if the request ID is invalid or cannot be updated.
      operationId: salesRequestsUpdateCredit
      requestBody:
        description: |
          The request body contains one or more **credit request updates**.  
      
          **Fields**
          - `TransactionId` *(optional)*: Correlation identifier for tracking across external systems.  
          - `Requests` *(required)*: Array of credit request updates.  
      
          Each request update includes:
          - **Request** *(required)*: Identifies the credit request by `Id`.  
          - **Action** *(required)*: Integer code indicating the update action.  
          - **NewReferenceNumber** *(optional)*: Assigns or updates a new reference number.  
          - **Notes** *(optional)*: Additional context or comments.  
          - **Lines** *(optional)*: One or more line-level updates.  
            - **Credit**: Specifies the credit amount to apply for the line, with `Value` and `Units`.  
      
          **Usage**
          - Use this endpoint to apply or adjust credits tied to existing requests.  
          - Supports workflows where partial refunds or adjustments need to be applied to specific line items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesReqPartialCreditUpdateJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesReqPartialCreditUpdateJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/cancel:
    post:
      tags:
        - Vendor API - Requests
      summary: Cancel request.
      description: |
        Cancels an existing fulfillment request, either in full or at the line level.
      
        **Overview**
        - A cancellation request may apply to the entire fulfillment request or specific line items.  
        - Requires a reason code and allows optional free-text explanation.  
        - `ForceCancelation` can be used to override restrictions that might normally prevent cancellation.  
      
        **Behavior**
        - Requires the `Request.Id` to identify the fulfillment request being cancelled.  
        - Cancelling specific lines leaves other lines unaffected.  
        - Returns an error if the request ID is invalid, or cancellation is not permitted.
      operationId: salesRequestsCancel
      requestBody:
        description: |
          The request body contains one or more **cancel request objects**.
      
          **Fields**
          - `TransactionId` *(optional)*: Correlation identifier for external system tracking.  
          - `Requests` *(required)*: Array of cancellation instructions.  
      
          Each cancellation request includes:
          - **Request** *(required)*: Identifies the fulfillment request to cancel by `Id`.  
          - **Reason** *(required)*: Structured reason for the cancellation.  
            - `Id`: Unique identifier for the reason (nullable).  
            - `Code`: Reason code (e.g., `CUSTREQ` = customer requested).  
            - `Text`: Optional free-text explanation.  
          - **ForceCancelation** *(optional)*: Boolean flag to override restrictions and force cancellation.  
          - **Lines** *(optional)*: Array of line items to cancel. If omitted, the entire request is cancelled. 
          **Usage**
          - Use this endpoint to cancel requests initiated by customers or system events.  
          - Can cancel all lines (full request) or specific lines.  
          - Useful in workflows such as customer cancellation, inventory issues, or fraud prevention.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReqCancelJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReqCancelJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/archive:
    post:
      tags:
        - Vendor API - Requests
      summary: Archive requests.
      description: |
        Moves one or more fulfillment requests into an **archived state**.  
      
        **Overview**
        - Archived requests are retained for record-keeping but excluded from active processing.  
        - Archived requests can still be retrieved by ID if needed.  
        - Useful for lifecycle management once requests are resolved or no longer active.  
      
        **Behavior**
        - Requires the request `Id` for each request to archive.  
        - Multiple requests can be archived in a single call.  
        - Returns success/failure for each processed request.
      operationId: salesRequestsArchive
      requestBody:
        description: |
          The request body specifies one or more fulfillment requests to archive.  
      
          **Fields**
          - `TransactionId` *(optional)*: Correlation identifier for external system tracking.  
          - `Requests` *(required)*: Array of requests to archive.  
            - **Id** *(required)*: Unique identifier of the fulfillment request to be archived.  
      
          **Usage**
          - Use this endpoint to move resolved or inactive requests into archive state.  
          - Helps reduce clutter in active request views while preserving history.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesReqArchiveJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesReqArchiveJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:requests
  /requests/fulfillment/report/{reportId}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Vendor API - Requests
      summary: Retrieve job report results by ReportId.  
      description: |
        Returns the results of a previously submitted **Acknowledgement**, **Cancel**, **Archive**, **ReturnUpdate**, **MissingAccessoryUpdate**, **LostShipmentUpdate**, **InterceptUpdate**, or **CreditUpdate** job.  
  
        **Overview**
        - Use this endpoint to monitor the status and results of asynchronous request import jobs.  
        - Each job is identified by a `ReportId` returned from the initial `/requests/fulfillment` request.  
        - Reports may contain success/failure details for each processed item.  
  
        **Behavior**
        - If the job is still processing, the response includes a `Status`.  
        - Once complete, the report includes item-level results.  
        - Pagination allows retrieval of large job results in chunks.  
  
        **Common use cases**
        - Poll for job completion before updating UI or triggering follow-up processes.  
        - Retrieve error messages for failed items to correct and resubmit.
      operationId: salesRequestsReport
      parameters:
        - name: reportId
          in: path
          description: The ReportId provided by the POST response.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: includeLines
          in: query
          description: Whether or not to include line details with report.
          required: false
          schema:
            type: boolean    
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReqJobReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:shipments
  /inventory/virtual/acknowledge:
    post:
      tags:
        - Channel API - Virtual Inventory
      summary: Acknowledge virtual inventory items.
      description: |
        Updates the status of virtual inventory items to notify the vendor whether the item has been listed for sale or if there is an issue preventing it from being listed.  
      
        **Overview**
        - Use this endpoint to communicate listing acknowledgements back to the vendor.  
        - Supports two main acknowledgement scenarios:  
      
          **If listed for sale**
          - `ARP`: *(optional)* Current sale price.  
          - `CatalogStatus`: Must be `40` (listed).  
          - `MapId`: *(optional)* Internal identifier for your system.  
          - `MapURL`: *(optional)* The URL of the item on your site.  
      
          **If there is an issue**
          - `CatalogStatus`: Must be `30` (issue).  
          - `Messages`: Reason(s) why the item is not listed.  
      
        **Behavior**
        - The request creates an asynchronous job.  
        - The response contains a `ReportId`.  
        - Use `/inventory/virtual/report/{reportId}` (or equivalent endpoint) to monitor job progress.
      operationId: virtualInventoryUpdate
      requestBody:
        description: |
          The request body specifies one or more virtual inventory items to acknowledge.  
      
          Each acknowledgement includes:
          - **CatalogStatus** *(required)*: Status of the item.  
            - `40` = Item is listed for sale.  
            - `30` = Item has an issue.  
          - **ARP** *(optional when listed)*: Current sale price.  
          - **MapId** *(optional when listed)*: Internal identifier for your system.  
          - **MapURL** *(optional when listed)*: Link to the item on your site.  
          - **Messages** *(required when issue)*: Explanation of why the item cannot be listed.  
      
          **Usage**
          - Use when synchronizing your catalog with the vendor.  
          - Ensures the vendor knows which items are available and which have issues.  
          - Responses should be monitored using the job report API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryVirtualAckJob'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryVirtualAckJobReply'
        '400':
          description: Invalid input
      security:
        - quipt_auth:
            - write:feeds
  /inventory/virtual/report/{reportId}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Channel API - Virtual Inventory
      summary: Retrieve job report results by ReportId.  
      description: |
        Returns the results of a previously submitted **Virtual Inventory Acknowledgement** job.  
  
        **Overview**
        - Use this endpoint to monitor the status and results of asynchronous virtual inventory import jobs.  
        - Each job is identified by a `ReportId` returned from the initial `/inventory/virtual` request.  
        - Reports may contain success/failure details for each processed item.  
  
        **Behavior**
        - If the job is still processing, the response includes a `Status`.  
        - Once complete, the report includes item-level results.  
        - Pagination allows retrieval of large job results in chunks.  
  
        **Common use cases**
        - Poll for job completion before updating UI or triggering follow-up processes.  
        - Retrieve error messages for failed items to correct and resubmit. 
      operationId: virtualInventoryReport
      parameters:
        - name: reportId
          in: path
          description: The ReportId provided by the `virtualInventoryUpdate` response.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: includeLines
          in: query
          description: Whether or not to include line details with report.
          required: false
          schema:
            type: boolean    
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryVirtualJobReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:feeds 
  /inventory/virtual/{vendorId}/{pageSize}/{pageNumber}:
    get:
      tags:
        - Channel API - Virtual Inventory
      summary: Retrieve virtual inventory items (paged).
      description: |
        Returns a paginated list of virtual inventory items for a given merchant, filtered by search parameters.
        **Overview**
        - Virtual inventory items represent product listings provided by vendors or partners.  
        - Use this endpoint to browse inventory items in batches for a specific merchant.  
        - Pagination is controlled with `pageSize` and `pageNumber`.  
      
        **Behavior**
        - Results include key product details (SKU, catalog status, identifiers, pricing, etc.).  
        - If no items match the search parameters, an empty list is returned.  
        - Response includes pagination metadata (`PageNumber`, `Total`, `HasMorePages`).  
      
        **Common use cases**
        - Displaying a merchant’s catalog in an admin portal.  
        - Syncing vendor inventory with your own system.  
        - Auditing catalog status and pricing across merchants.
      operationId: virtualInventory
      parameters:
        - name: vendorId
          in: path
          description: The vendor to lookup. Can be the partner reference or the internal id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: catalogStatus
          in: query
          description: >- 
            A comma separated list of statuses.<br/>
            0 = New<br/>
            10 = Received<br/>
            20 = Accepted<br/>
            30 = Rejected<br/>
            40 = Published
          required: false
          schema:
            type: array
            items:
              type: string
        - name: inventoryStatus
          in: query
          description: >-
            A comma separated list of statuses.<br/>
            0 = New<br/>
            10 = Received<br/>
            20 = Accepted<br/>
            30 = Rejected; Does not exist<br/>
            31 = Rejected; Unauthorized<br/>
            32 = Rejected; already mapped<br/>
            33 = Rejected Unknown<br/>
          required: false
          schema:
            type: array
            items:
              type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null. 
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Catalog
                - Details
                - Freight
                - Properties
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryVirtualReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:feeds
  /inventory/virtual/id/{id}:
    get:
      tags:
        - Channel API - Virtual Inventory
      summary: Retrieve a virtual inventory item by ID.
      description: |
        Returns the details of a single virtual inventory item identified by its unique `id`.
      
        **Overview**
        - Virtual inventory items represent vendor-provided product listings.  
        - Use this endpoint to fetch all available details for a specific item, including catalog status, pricing, and listing metadata.  
      
        **Behavior**
        - Requires the item `id` as a path parameter.  
        - If the item exists, the full record is returned.  
        - If no item with the given `id` is found, a `404` error is returned.  
      
        **Common use cases**
        - Displaying detailed information for a specific item.  
        - Auditing listing status and pricing.  
        - Syncing a single item between systems for reconciliation.
      operationId: virtualInventoryById
      parameters:
        - name: id
          in: path
          description: The id to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Catalog
                - Details
                - Freight
                - Properties
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryVirtualResult'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:feeds
  /orders/purchase/{pageSize}/{pageNumber}:
    get:
      tags:
        - Channel API - Orders
      summary: Retrieve purchase orders (paged).
      description: |
        Returns a paginated list of purchase orders.  
      
        **Overview**
        - A purchase order (PO) represents an order placed by a channel with a vendor.  
        - Use this endpoint to browse purchase orders in batches.  
        - Pagination is controlled by `pageSize` and `pageNumber`.  
      
        **Behavior**
        - Results include purchase order details such as PO number, vendor, channel, order date, and status.  
        - If the requested page exceeds the available results, an empty list is returned.  
        - Response includes pagination metadata (`PageNumber`, `Total`, `HasMorePages`).  
      
        **Common use cases**
        - Displaying purchase orders in an admin portal.  
        - Syncing POs from a vendor system into your ERP.  
        - Auditing procurement activity across channels.
      operationId: purchaseOrders
      parameters:
        - name: pageSize
          in: path
          description: The number of items to return.
          required: true
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: path
          description: The page of items to return.
          required: true
          schema:
            type: integer
            format: int32  
        - name: orderStatus
          in: query
          description: >- 
            A comma separated list of statuses.<br/>
            2 = Pending<br/>
            4 = Open<br/>
            8 = Shipped<br/>
            16 = Canceled
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices
                - Shipments
                - Cancellations
                - PackingSlips
                - ShipByTruckRequests
                - Payments
                - Fulfillments
                - Acknowledgements
                - SubstitutionFor
                - Metafields
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/purchase/id/{id}:
    get:
      tags:
        - Channel API - Orders
      summary: Retrieve a purchase order by ID.
      description: |
        Returns the details of a single purchase order identified by its unique `id`.
      
        **Overview**
        - A purchase order (PO) represents an order placed by a channel.  
        - Use this endpoint to fetch all available details for a specific PO, including vendor, channel, PO number, and status.  
      
        **Behavior**
        - Requires the `id` of the purchase order as a path parameter.  
        - If the purchase order exists, the full record is returned.  
        - If no PO with the given `id` is found, a `404` error is returned.  
      
        **Common use cases**
        - Fetching full details of a PO for review.  
        - Reconciling vendor and retailer records.  
        - Integrating a single PO into ERP or accounting workflows.
      operationId: purchaseOrdersById
      parameters:
        - name: id
          in: path
          description: The id to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Comma separated list of options. If option not included the property will be returned as null.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices
                - Shipments
                - Cancellations
                - PackingSlips
                - ShipByTruckRequests
                - Payments
                - Fulfillments
                - Acknowledgements
                - SubstitutionFor
                - Metafields
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PurchaseOrderResult'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/purchase/ordernumber/{poNumber}:
    get:
      tags:
        - Channel API - Orders
      summary: Retrieve a purchase order by purchase order number.
      description: |
        Returns the details of a single purchase order identified by its unique purchase order number.
      
        **Overview**
        - A purchase order (PO) represents an order placed by a channel/retailer with a vendor.  
        - Use this endpoint to fetch all available details for a specific PO when the external purchase order number is known.  
      
        **Behavior**
        - Requires the `poNumber` path parameter.  
        - If the purchase order exists, the full record is returned.  
        - If no PO with the given number is found, a `404` error is returned.  
      
        **Common use cases**
        - Reconciling POs between systems using external purchase order numbers.  
        - Quickly retrieving a PO without needing its internal system ID.  
        - Integrating purchase order lookups into vendor/retailer workflows.
      operationId: purchaseOrdersByPO
      parameters:
        - name: poNumber
          in: path
          description: The purchase order number to lookup.
          required: true
          schema:
            type: string
        - name: include
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Invoices
                - Shipments
                - Cancellations
                - PackingSlips
                - ShipByTruckRequests
                - Payments
                - Fulfillments
                - Acknowledgements
                - SubstitutionFor
                - Metafields
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderReply'
        '400':
          description: Invalid request.
      security:
        - quipt_auth:
            - read:orders
  /orders/purchase/create:
    post:
      tags:
        - Channel API - Orders
      summary: Create a new purchase order.
      description: |
        Creates one or more purchase orders (POs).  
      
        **Overview**
        - A purchase order (PO) represents an order placed by a retailer or channel with a vendor.  
        - This endpoint accepts one or more POs in a single call, including line items and shipping details.  
      
        **Behavior**
        - A unique `PurchaseOrderNumber` is required for each order.  
        - Each order must include vendor information and shipping address.  
        - Lines define the SKUs, quantities, and pricing.  
        - The system validates address details (ISO or ISO3 must be set) and order structure before creation.  
        - Response includes confirmation of created orders along with their IDs.
      operationId: purchaseOrdersAddUpdate
      requestBody:
        description: |
          The request body contains one or more purchase orders to be created.  
      
          **Fields**
          - `Orders` *(required)*: Array of purchase orders to create.  
      
          Each order includes:
          - **PurchaseOrderNumber** *(required)*: Unique purchase order number.  
          - **Vendor** *(required)*: Vendor details. Either `Id` or `Code` must be provided.  
          - **Group** *(required)*: Grouping and shipping details.  
            - **ReferenceNumber** *(optional)*: Reference number for the order.  
            - **EndCustomerReferenceNumber** *(optional)*: End customer reference number.  
            - **ShipTo** *(required)*: Shipping address. Must include `Company` or `Attention`.  
            - **Gift** *(optional)*: Gift wrap and message details.  
            - **LabelReference1/2** *(optional)*: Reference numbers to include on carrier labels.  
          - **SpecialInstructions** *(optional)*: Notes to include on pick list.  
          - **SignatureOption** *(optional)*: `0 = NO`, `10 = YES`.  
          - **InsuranceOption** *(optional)*: `0 = NO`, `10 = YES`.  
[...]
