---
---

/* Remove margin on .info block */
.swagger-ui .info {
  margin: 0 !important;
}

.swagger-ui .info .description .renderedMarkdown p {
  margin: 0 !important;
}

.swagger-ui .info .main {
  margin-bottom: 0px;
}

.swagger-ui .scheme-container {
  padding-top: 0px;
}

/* Stack tag name and description vertically */
.swagger-ui .opblock-tag {
  flex-direction: column;
  align-items: flex-start;
}

.swagger-ui .opblock-tag .nostyle {
   margin-left: 30px;
}

.swagger-ui .opblock-tag button {
   position: absolute;  
}

.swagger-ui .opblock-tag small {
  display: block;
  margin: 4px 0 0 0;
  padding: 0;
  width: 100%;
}

.swagger-ui .opblock-tag > div {
  flex: inherit;
}
